<h2>Edit Business</h2>

<%= form_for [@address, @business] do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :trading_as %>
    <%= f.text_field :trading_as, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :phone %>
    <%= f.text_field :phone, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :website %>
    <%= f.text_field :website, class: "form-control" %>
  </div>

  <div class="form-group mt-3">
    <%= f.label :contact_id %>
    <%= f.collection_select(:contact_ids, Contact.all, :id, :full_name_and_email, { prompt: 'Select or create a contact' }, class: 'form-control selectpicker', data: { style: 'btn-primary' }) %>
  </div>

  <%= f.submit "Update Business", class: "btn btn-primary mt-3" %>
<% end %>

<script>
  // Function to initialize Choices.js
  function initializeChoices() {
    const contactSelect = new Choices('#business_contact_ids', {
      removeItemButton: true,
      searchEnabled: true,
      placeholder: true,
      placeholderValue: 'Select a contact',
    });
  }

  // Initialize Choices.js on page load
  document.addEventListener("turbo:load", initializeChoices);
</script>