<h2>New Business</h2>
<%= form_for @business, url: new_business_path, method: :post do |f| %>
  <div class="form-group">
    <label>Address</label>
    <%= f.collection_select(:address_id, Address.all, :id, :combadd, { prompt: 'Select an address' }, class: 'form-control selectpicker', data: { style: 'btn-primary' }) %>
  </div>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :phone %>
    <%= f.text_field :phone, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :website %>
    <%= f.text_field :website, class: "form-control" %>
  </div>

  <div class="form-group mt-3">
    <%= f.label :contact_id %>
    <%= f.collection_select(:contact_ids, Contact.all, :id, :full_name_and_email, { prompt: 'Select a contact' }, class: 'form-control selectpicker', data: { style: 'btn-primary' }) %>
  </div>
  
  <%= f.submit "Create Business", class: "btn btn-primary mt-3" %>
<% end %>

<script>
  // Function to initialize Choices.js
  function initializeChoices() {
    // Initialize Choices.js for contact select
    new Choices('#business_contact_ids', {
      removeItemButton: true,
      searchEnabled: true,
      placeholder: true,
      placeholderValue: 'Select a contact',
    });

    // Initialize Choices.js for address select
    new Choices('#business_address_id', {
      removeItemButton: true,
      searchEnabled: true,
      placeholder: true,
      placeholderValue: 'Select an address',
    });
  }

  // Initialize Choices.js on page load
  document.addEventListener("turbo:load", initializeChoices);
</script>
