<h1>
  Current FY Licenses
</h1>

<div class="card" style="background-color: #e3f2fd;">
  <div class="card-body">
    <%= form_with(url: licenses_path, method: :get, local: true, html: { class: 'form-inline' }) do %>
      <%= select_tag :sent, options_for_select([['Both Sent and Not Sent', ''], ['Sent', 'true'], ['Not Sent', 'false']], selected: params[:sent]), class: 'form-control' %>
      <br>
      <%= select_tag :paid, options_for_select([['Both Paid and Not Paid', ''], ['Paid', 'true'], ['Not Paid', 'false']], selected: params[:paid]), class: 'form-control' %>
      <br>
      <%= select_tag :license_type, options_for_select([['All license types', ''], ['Business', 'business'], ['Multifamily', 'multifamily'],['Single Family', 'single_family']], selected: params[:license_type]), class: 'form-control' %>
      <div style="text-align:center">
        <%= submit_tag 'Filter', class: 'btn btn-primary mb-2 mt-2 text-middle' %>
      </div>
    <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Property Name/Business</th>
        <th>Type</th>
        <th>Passed Inspection</th>
        <th>Sent?</th>
        <th>Paid?</th>
      </tr>
    </thead>
    <tbody>
      <% @licenses.each do |license| %>
        <tr>
          <td>
          <% if license.license_type == 'business' %>
            <%= link_to license.business.business_name_and_trading_name, license_path(license) %>
          <% else %>
            <%= link_to license.inspection.address.property_name_with_combadd, license_path(license) %>
          <% end %>
          </td>
          <td><%= license.license_type.titleize %></td>
          <td><%= license.created_at.strftime("%B %d, %Y") %></td>
          <td>
            <% if license.sent == true %>
              <p class="text-success">Yes</p>
            <% else %>
              <p class="text-danger">No</p>
            <% end %>
          </td>
          <td>
            <% if license.paid == true %>
              <p class="text-success">Yes</p>
            <% else %>
              <p class="text-danger">No</p>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= will_paginate @licenses %>