<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">
      <%= link_to "Home", root_path %>
    </a></li>
    <li class="breadcrumb-item"><a href="#">
    <%= link_to @address.property_name_with_combadd, address_path(@address) %>
    </a></li>

    <% if @inspection.unit_id.present? %>
      <li class="breadcrumb-item"><a href="#">
      <%= link_to @inspection.unit.number, address_unit_path(@address, @inspection.unit) %>
      </a></li>
    <% end %>

    <li class="breadcrumb-item"><a href="#">
    <%= link_to "Inspection ##{@inspection.id}", address_inspection_path(@address, @inspection) %>
    </a></li>

    <li class="breadcrumb-item active" aria-current="page">
      <% if @license.business.present? %>
        <%= link_to "#{@license.fiscal_year} #{@license.license_type.capitalize} License for #{@license.business}", license_path(@license) %>
      <% else %>
        <%= link_to "#{@license.fiscal_year} #{@license.license_type} License", license_path(@license) %>
      <% end %>
    </li>

  </ol>
</nav>

<div class="card">
  <div class="card-header">
  <div class="row">
    <div class="col">
        <label class="font-weight-bold">License Type:</label>
    <h3><%= @license.license_type.capitalize %></h3>
    </div>
    <div class="col text-end">
      <h3><%= @license.fiscal_year %></h3>

    </div>
  </div>
  <div class="row">
  <div class="col">
    <label class="font-weight-bold">Address:</label>
    <p><%= link_to @license.inspection.address.combadd, address_path(@license.inspection.address), class: "text-primary" %></p>

    <% if @license.license_type == 'business' %>
      <label class="font-weight-bold">Business Name:</label>
      <p><%= link_to @license.business.business_name_and_trading_name, address_business_path(@license.business.address, @license.business), class: "text-primary" %></p>
    <% end %>
  </div>
  <div class="col text-end">
    <label class="font-weight-bold">License Number:</label>
    <p><%= @license.license_number %></p>      <br><label class="font-weight-bold">License Expiration:</label>
    <p><%= @license.expiration_date %></p>
</div></div>
  </div>
  <div class="card-body">

    <label class="font-weight-bold">License paid?</label>
    <% if @license.paid == true %>
      <p class="text-success">Yes</p>
    <% else %>
      <p class="text-danger">No</p>
    <% end %>
    <% if @license.paid == true %>
      <%= button_to 'Mark as Not Paid', not_paid_license_path(@license), method: :put, class: "btn btn-outline-danger" %>
    <% else %>
      <%= button_to 'Mark as Paid', paid_license_path(@license), method: :put, class: "btn btn-outline-primary" %>
    <% end %>
    <br>
    <label class="font-weight-bold">License sent?</label>
    <% if @license.sent == true %>
      <p class="text-success">Yes</p>
    <% else %>
      <p class="text-danger">No</p>
    <% end %>
    <% if @license.sent == true %>
      <%= button_to 'Mark as Not Sent', not_sent_license_path(@license), method: :put, class: "btn btn-outline-danger" %>
    <% else %>
      <%= button_to 'Mark as Sent', sent_today_license_path(@license), method: :put, class: "btn btn-outline-primary" %>
    <% end %>
      <br>
    <% if @license.revoked == true %>
      <p class="text-danger">Revoked</p>
    <% end %>

    <label class="font-weight-bold">Conditions:</label>
    <% if @license.conditions.present? %>
      <p><%= @license.conditions %></p>
    <% else %>
      <p>None</p>
    <% end %>

    <%= link_to 'Edit the license', edit_license_path(@license), class: "btn btn-primary" %> 
    <% if @license.license_type == 'business' %>
      <%= link_to 'Download license as Word Document', generate_business_license_path(@license), class: "btn btn-primary" %>
    <% elsif @license.license_type == 'single_family' %>
      <%= link_to 'Download license as Word Document', generate_single_family_license_path(@license), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<%#= link_to 'Email', email_license_path(@license) %>
