<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h1 style="text-align: center">All Citations</h1>
      <br>
        <%= link_to "All Citations", all_citations_path, class:"btn btn-secondary" %>
        <%= link_to "Unpaid", all_citations_path(status: "current"), class:"btn btn-warning" %>
        <%= link_to "Pending Trial", all_citations_path(status: "pending"), class:"btn btn-info" %>
        <%= link_to "Resolved", all_citations_path(status: "resolved"), class:"btn btn-success" %>
      <br>
      <div class="table-responsive">
        <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Citation ID</th>
            <th scope="col">Address</th>
            <th scope="col">Created By</th>
            <th scope="col">Created At</th>
            <th scope="col">Fine</th>
            <th scope="col">Status</th>
            <th scope="col">Code</th>
            <th scope="col">Deadline Date</th>
          </tr>
        </thead>
        <tbody>
          <% @citations.each do |citation| %>
            <%= render partial: "shared/citation_table", locals: {citation: citation} %>
          <% end %>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>