<% content_for :title, @citation.violation.address.property_name_with_combadd %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">
      <%= link_to "Home", root_path %>
    </a></li>
    <li class="breadcrumb-item"><a href="#">
    <%= link_to @address.property_name_with_combadd, address_path(@address) %>
    <% if @citation.unit.present? %>
      - <%= link_to @citation.unit.number.upcase, address_unit_path(@address, @citation.unit) %>
    <% end %>
    </a></li>
    <li class="breadcrumb-item active">
      <%= "Violation ##{params[:id]}" %>
    </li>
  </ol>
</nav>
<div class="row">
  <%= render 'shared/address_info' %>
  <div class="col-md-7 col-xl-8">
    <div class="card">
      <div class="card-body">
        <!-- citation information -->
        <h3>Citation #<%= @citation.citationid %></h3>
        <p><strong>From Violation:</strong> <%= link_to @citation.violation.id, violation_path(@citation.violation), class: "btn btn-sm btn-outline-secondary" %></p>
        <p><strong>Created At:</strong> <%= @citation.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y %I:%M %p") %></p>
        <p><strong>Fine:</strong> $<%= @citation.fine %></p>
        <p><strong>Status:</strong> <%= link_to "#{@citation.status.titleize}", edit_citation_path(@citation), class:"btn btn-success" %></p>
                                        

        <p><strong>Code:</strong>    <%= render partial: 'shared/code_def_show', locals: { code: @citation.code } %>
 </p>
        <p><strong>Deadline:</strong> <%= @citation.deadline.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y") %></p>

      </div>
    </div>
    <div class="card shadow mb-3">
      <div class="card-body">
        <h3>New Comment on Citation</h3>

        <% if user_signed_in? %>
          <%= form_for([@citation, @citation.citation_comments.build]) do |f| %>
            <%= f.text_area :content, class: "form-control" %>
            <br>
            <%= f.file_field :photos, multiple: true, class: "form-control" %>
            <br>
            <%= f.submit class: "btn btn-primary" %>
          <% end %>
        <% end %>

        <!-- show any associated comments -->
        <% if @citation.citation_comments.exists? %>
        <br>
          <h3>Comments (<%= @citation.citation_comments.count %>)</h3>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Comment</th>
                <th>Comment Date</th>
                <th>Commenter</th>
              </tr>
            </thead>

            <tbody>
              <% @citation.citation_comments.order(created_at: :desc).each do |comment| %>
                <tr>
                  <td><%= comment.content %></td>
                  <td><%= comment.created_at&.in_time_zone("Eastern Time (US & Canada)")&.strftime("%B %d, %Y %I:%M %p") %></td>
                  <td><%= comment.user.email %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>      
    
      </div>
    </div>

  </div>
</div>