<h3>Comments</h3>
<% @address.comments.order("created_at DESC").each do |comment| %>
<div class="card"><div class="card-body">
  <p><%= comment.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y at %I:%M%p") %> 
  <br>
  <strong><%= comment.user.email.split("@").first %></strong> says: 
  <br>
  <%= comment.content %></p>
  <% if comment.photos.attached? %>
    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#comment-<%= comment.id %>">
      Photos
    </button>
    <% end %>
</div></div><br>


<!-- Modal -->
<div class="modal fade custom-modal-lg" id="comment-<%= comment.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><%= comment.content %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <% comment.photos.each do |photo| %>
          <%= image_tag photo, class: "img-fluid" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% end %>