<div class="card shadow"><div class="card-body">
  <% if show_address_info %>
  <div class="address-info">
    <%# link to address %> 
    <%= link_to comment.address.combadd, address_path(comment.address), class: "btn btn-secondary" %> 
  </div>
  <% end %>

  <p><small style="text-align:right"><%= comment.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y") %></small> 
  <br>
    <% if comment.unit.present? %>
      <p><strong>Unit:</strong> <%= comment.unit.number %></p>
    <% end %>
    <strong><%= comment.user.email.split("@").first %></strong> says: 
  <br>

    <%= comment.content %></p>

    <%# if user is current user, and comment is on address show page, show edit link %>
    <% if comment.user == current_user && show_edit_link %>
      <%= link_to "Edit Comment", edit_address_comment_path(@address, comment), class: "btn btn-outline-secondary" %>
    <% end %>
  <% if comment.photos.attached? %>
    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#comment-<%= comment.id %>">
      Attachments
    </button>
    <% end %>
</div></div><br>


<!-- Modal -->
<div class="modal fade custom-modal-lg" id="comment-<%= comment.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><%= comment.content %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <% comment.photos.each do |photo| %>
          <%= render partial: 'shared/show_image', locals: { photo: photo } %>
        <% end %>
      </div>
    </div>
  </div>
</div>

