<h3>New Comment</h3>

<% if user_signed_in? %>
  <%= form_for([@address, @address.comments.build]) do |f| %>
    <%= f.text_area :content, class: "form-control" %>
    <br>
    <%= f.file_field :photos, multiple: true, class: "form-control" %>
    <br>
    <!-- if address has units, show unit select -->
    <% if @address.units.any? %>
    <%= f.select :unit_id, options_for_select(unit_options(@address.units), nil), {prompt: "Select Unit or Building"}, class: "form-select" %>

    <br>
    <br>
    <% end %>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
<% end %>
