
<% if user_signed_in? %>
  <%= form_for([@address, @address.comments.build]) do |f| %>
    <%= f.text_area :content, class: "form-control" %>
    <br>
    <%= f.file_field :photos, multiple: true, class: "form-control" %>
    <br>
    <!-- if address has units, show unit select -->
    <% if @address.units.any? %>
      <% if @unit.present? %>
        <%= f.hidden_field :unit_id, value: @unit.id %>
      <% else %>
        <%= f.select :unit_id, options_for_select(unit_options(@address.units), nil), {prompt: "Select Unit or Building"}, class: "form-select" %>
      <% end %>
    <br>
    <br>
    <% end %>
    <div class="text-end">
    <%= f.submit class: "btn btn-outline-primary" %>
    </div>
  <% end %>
<% end %>
