<h3>New Comment</h3>

<% if user_signed_in? %>
  <%= form_for([@address, @address.comments.build]) do |f| %>
    <%= f.text_area :content, class: "form-control" %>
    <br>

      <%= f.fields_for :photos do |photo_fields| %>
        <%= photo_fields.file_field :image, class: "form-control"  %>
      <% end %>
    <br>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
<% end %>
