<% if citation.deadline_passed? %>
<tr class="table-danger">
<% else %>
<tr class="table-warning">
<% end %>
  <td><%= link_to citation.violation.address.combadd, address_path(citation.violation.address), class: "btn btn-warning" %></td>
  <td><%= number_to_currency(citation.fine) %></td>
  <td><%= citation.deadline.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y") %></td>
  <td>
  <% if citation.status == "unpaid" && citation.deadline <= Date.today %>
    <%= link_to "Unpaid", citation_path(citation), class:"btn btn-danger" %>
  <% elsif citation.status == "unpaid" && citation.deadline > Date.today %>
    <%= link_to "Unpaid", citation_path(citation), class:"btn btn-warning" %>
  <% elsif citation.status == "paid" %>
    <%= link_to "Paid", citation_path(citation), class:"btn btn-success" %> on <%= citation.updated_at.in_time_zone("Eastern Time (US & Canada)").strftime("%m/%d/%Y") %>
  <% elsif citation.status == "dismissed" %>
    <%= link_to "Dismissed", citation_path(citation), class:"btn btn-secondary" %>
  <% elsif citation.status == "pending trial" && citation.trial_date.nil? %>
    <%= link_to "Pending Trial", citation_path(citation), class:"btn btn-info" %>
  <% elsif citation.status == "pending trial" && citation.trial_date.present? %> 
    <%= link_to "Pending Trial", citation_path(citation), class:"btn btn-info" %> on <%= citation.trial_date.strftime("%m/%d/%Y") %>
  <% end %>
  </td>
  <td>
  <%= render partial: 'shared/code_def_show', locals: { code: citation.code } %>

  </td>
</tr>