<%# table for inspections %>

<tr class="">
  <%# if show_address_info %>
  <!-- <td><%= link_to inspection.address.combadd.titleize, address_path(inspection.address), class:"btn btn-secondary" %></td> -->
  <%# end %>
  <td><%= inspection.created_at.strftime("%B %d, %Y %I:%M %p") %></td>
  <td><%= link_to inspection.address.combadd, address_path(inspection.address) %></td>
  <td><%= inspection.source %></td>
  <% if inspection.status.present? %>
        <% if inspection.status == "Satisfactory" %>
          <td><span class="badge bg-success"><%= inspection.status %></span></td>
        <% else %>
          <td><span class="badge bg-danger"><%= inspection.status %></span></td>
        <% end %>
  <% else %>
    <td>Pending</td>
  <% end %>
  <% if inspection.inspector.present? %>
    <td><%= inspection.inspector.email %></td>
  <% else %>
    <td>Unassigned</td>
  <% end %> 
  <% if inspection.status.present? && inspection.status == "Satisfactory" %>
    <td><%= link_to "Show", address_inspection_path(inspection.address, inspection), class: "btn" %></td>
  <% elsif inspection.status.present? && inspection.status == "Unsatisfactory" %>
    <td><%= link_to "Show", address_inspection_path(inspection.address, inspection), class: "btn" %></td>
  <% else %>
    <td><%= link_to "Show", address_inspection_path(inspection.address, inspection), class: "btn btn-secondary" %></td>
  <% end %>

</tr>