<% if current_user.ons? %>
<div class="row">
  <div class="col-xl-6 col-xxl-5 d-flex">
    <div class="w-100">
      <div class="row">
        <div class="col-sm-6 d-none d-lg-block">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col mt-0">
                  <h5 class="card-title">Comments Within the Last Week</h5>
                </div>

                <div class="col-auto">
                  <div class="stat text-primary">
                    C
                  </div>
                </div>
              </div>
              <h1 class="mt-1 mb-3"><%= @comments_last_week.count %></h1>
            </div>
          </div>
          <div class="card shadow mb-3" onclick="window.location='<%= my_violations_path(status: 'current') %>';" style="cursor: pointer;">
            <div class="card-body">
              <div class="row">
                <div class="col mt-0">
                  <h5 class="card-title">Violations Requiring Attention</h5>
                </div>

                <div class="col-auto">
                  <div class="stat text-primary">
                    V
                  </div>
                </div>
              </div>
              <h1 class="mt-1 mb-3">
                  <%= @violations.count %>
              </h1>
              <div class="mb-0">
                <span class=""> <i class="mdi mdi-arrow-bottom-right"></i>
                  <%= @active_violations.count %>
                </span>
              <span class="text-muted">Total Active Violations</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card shadow mb-3" onclick="window.location='<%= my_complaints_path(status: 'current') %>';" style="cursor: pointer;">
            <div class="card-body">
              <div class="row">
                <div class="col mt-0">
                  <h5 class="card-title">Complaints</h5>
                </div>

                <div class="col-auto">
                  <div class="stat text-primary">
                    C
                  </div>
                </div>
              </div>
              <h1 class="mt-1 mb-3">
                <%= @complaints.count %>
              </h1>
            </div>
          </div>
                    <div class="card d-none d-lg-block shadow mb-3" onclick="window.location='<%= my_inspections_path(scheduled_datetime: 'unscheduled') %>';" style="cursor: pointer;">

            <div class="card-body">
              <div class="row">
                <div class="col mt-0">
                  <h5 class="card-title">Inspections to be scheduled</h5>
                </div>

                <div class="col-auto">
                  <div class="stat text-primary">
                    I
                  </div>
                </div>
              </div>
              <h1 class="mt-1 mb-3">
                <%= @unscheduled_inspections.count %>
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-6 col-xxl-7">
    <div class="card flex-fill w-100">
      <div class="card-header">

        <h5 class="card-title mb-0">Today's inspections</h5>
      </div>
      <div class="card-body py-3">
        <% if @today_inspections.empty? %>
          <p>No inspections scheduled for today.</p>
        <% else %>
          <% @today_inspections.each do |inspection| %>
          <div class="card mt-3" style="background-color: #c8e6c9;">
            <div class="card-body">
              <h5 class="card-title"><%= link_to inspection.address.combadd, address_inspection_path(inspection.address, inspection) %></h5>
              <p class="card-text"><strong>Scheduled:</strong> <%= inspection.scheduled_datetime.strftime("%I:%M %p") %></p>
            </div>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xl-12">
    <div class="row">      <!-- list of @priority_addresses -->
      <div class="card">
        <div class="card-body">
          <div class="row table-responsive">
          <h3>My Priority Addresses</h3>
          <h5>Addresses with current violations, unpaid citations, pending trial citations, or pending inspections</h5>
          <turbo-frame id="priority-addresses">
            <%= render partial: "shared/priority_table", locals: { priority_addresses: @priority_addresses } %>
          </turbo-frame>
          </div>    
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<% if current_user.oas? %>
<div class="row">
  <div class="col-xl-6">
    <!-- informative cards -->
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Inspections/Complaints</h5>
        <p class="card-text">
          Complaints, inspections, and violations are all related to addresses. To create a new inspection request, find the address in the search bar above and click the "Create New Inspection Request" button.
        </p>
        <p class="card-text">
          If you are looking for a list of previously requested inspections, click the "Inspections" button below. If you are looking for a previously requested complaint, click the "Complaints" button below.
        </p>
        <%= link_to "Inspections", all_inspections_path, class: "btn btn-secondary" %>
        <%= link_to "Complaints", all_complaints_path, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
  <div class="col-xl-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Contacts</h5>
        <p class="card-text">
          To create a new inspection request, find the address in the search bar above and click the "Create New Inspection Request" button.
        </p>
        <%= link_to "Contacts", contacts_path, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
  <div class="col-xl-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Citations</h5>
        <p class="card-text">
          To find the list of all current citations, click the "Citations" button below. In order to update the citation from unpaid to paid, click on the "unpaid" button.
        </p>
        <%= link_to "Citations", all_citations_path, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>
<% end %>