<%# table for inspections %>

<tr class="">
  <%# if show_address_info %>
  <!-- <td><%= link_to inspection.address.combadd.titleize, address_path(inspection.address), class:"btn btn-secondary" %></td> -->
  <%# end %>
  <td><%= inspection.address.combadd %></td>
  <td><%= inspection.source %></td>
  <% if inspection.status.present? %>
    <td><%= inspection.status %></td>
  <% else %>
    <td>Pending</td>
  <% end %>
  <% if inspection.scheduled_datetime.present? %>
    <td><%= inspection.scheduled_datetime.strftime("%B %d, %Y %I:%M %p") %></td>
  <% else %>
    <td>Not Scheduled</td>
  <% end %>
  <td>
    <% if inspection.attachments.attached? %>
      <%= link_to inspection.attachments.count, address_inspection_path(inspection.address, inspection), class: "btn btn-primary" %>
    <% end %>
  </td>
  <% if inspection.inspector.present? %>
    <td><%= inspection.inspector.email %></td>
  <% else %>
    <td>Unassigned</td>
  <% end %> 

    <td><%= link_to "Show", address_inspection_path(inspection.address, inspection), class: "btn btn-primary" %></td>

</tr>