<%# table for inspections %>

<tr class="">
  <%# if show_address_info %>
  <!-- <td><%= link_to inspection.address.combadd.titleize, address_path(inspection.address), class:"btn btn-secondary" %></td> -->
  <%# end %>
  <td><%= inspection.created_at.strftime("%B %d, %Y %I:%M %p") %></td>
  <td><%= inspection.source %></td>
  <td><%= link_to inspection.address.property_name_with_combadd, address_inspection_path(inspection.address, inspection) %></td>
  <% if inspection.scheduled_datetime.present? %>
    <td><%= inspection.scheduled_datetime.strftime("%B %d, %Y %I:%M %p") %></td>
  <% else %>
    <td>
      <%= link_to "Schedule inspection", schedule_address_inspection_path(inspection.address, inspection), class: "btn btn-outline-primary" %>
    </td>
  <% end %>

  <td>
    <%= link_to "Assign", assign_inspection_path(inspection), class: "btn btn-outline-primary" %>
  </td>
</tr>