<%# table for inspections %>

<tr class="">
  <%# if show_address_info %>
  <!-- <td><%= link_to inspection.address.combadd.titleize, address_path(inspection.address), class:"btn btn-secondary" %></td> -->
  <%# end %>
  <% if inspection.unit.present? %>
    <td><%= link_to "#{inspection.address.property_name_with_combadd} - #{inspection.unit.number}", address_unit_path(inspection.address, inspection.unit), class: "btn" %></td>
    <% else %>
  <td><%= link_to inspection.address.property_name_with_combadd, address_path(inspection.address), class: "btn" %></td>
  <% end %>
  <td><%= inspection.source %></td>
  <td><%= inspection.paid ? "Yes" : "No" %></td>
  <% if inspection.status.present? %>
      <% if inspection.status == "Satisfactory" %>
        <td><span class="badge bg-success"><%= inspection.status %></span></td>
      <% else %>
        <td><span class="badge bg-danger"><%= inspection.status %></span></td>
      <% end %>
    <% else %>
      <td><span class="badge bg-secondary">Pending</span></td>
  <% end %>
  <% if inspection.scheduled_datetime.present? %>
    <td><%= inspection.scheduled_datetime.strftime("%B %d, %Y %I:%M %p") %></td>
  <% elsif inspection.inspector == current_user %>
    <td>
      <%= link_to "Schedule inspection", schedule_address_inspection_path(inspection.address, inspection), class: "btn btn-outline-primary" %>
    </td>
  <% else %>
    <td>Unscheduled</td>
  <% end %>
  <% if inspection.inspector.present? %>
    <td><%= inspection.inspector.email %></td>
  <% else %>
    <td>Unassigned</td>
  <% end %> 

  <% if inspection.status.present? && inspection.status == "Satisfactory" %>
    <td><%= link_to "Show Inspection", address_inspection_path(inspection.address, inspection), class: "btn" %></td>
  <% elsif inspection.status.present? && inspection.status == "Unsatisfactory" %>
    <td><%= link_to "Show Inspection", address_inspection_path(inspection.address, inspection), class: "btn" %></td>
  <% else %>
    <td><%= link_to "Show Inspection", address_inspection_path(inspection.address, inspection), class: "btn btn-secondary" %></td>
  <% end %>
</tr>