<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th scope="col">Address</th>
      <th scope="col">Active Violations</th>
      <!-- <th scope="col">Reviewed?</th> -->
      <th scope="col">Unpaid Citations</th>
      <th scope="col">Pending Trial Citations</th>
      <th scope="col">Pending Inspections</th>
      <th scope="col">Complaints</th>
      <th scope="col">Scheduled Inspections</th>
    </tr>
  </thead>
  <tbody>
    <% @priority_addresses.each do |address| %>
      <tr style="text-align: center">
        <td><%= link_to address.combadd, address_path(address), class:"btn btn-secondary" %></td>
        <!-- <td><%= link_to "Mark Reviewed", mark_outstanding_address_path(address), method: :patch, class: "btn btn-secondary", remote: true %></td> -->
        <td><%= pluralize(address.violations.current.where(user_id: current_user.id).count, 'Active Violations') %></td>
        <td><%= pluralize(address.violations.map { |violation| violation.citations.where(status: ["unpaid"], user_id: current_user.id).count }.sum, 'Unpaid Citations') %></td>
        <td><%= pluralize(address.violations.map { |violation| violation.citations.where(status: ["pending trial"], user_id: current_user.id).count }.sum, 'Pending Trial Citations') %></td>
        <td><%= pluralize(address.inspections.where(status: nil, scheduled_datetime: nil, inspector_id: current_user.id).count, 'Pending Inspections') %></td>
        <td><%= pluralize(address.inspections.where(source: "Complaint", status: nil, inspector_id: current_user.id).count, 'Complaints') %></td>
        <td><%= pluralize(address.inspections.where.not(scheduled_datetime: nil).where(status: nil, inspector_id: current_user.id).count, 'Scheduled Inspections') %></td>
      </tr>
    <% end %>
  </tbody>
</table>