<div class="photo-container">
  <% if photo.content_type == 'application/pdf' %>
    <iframe src="<%= rails_blob_url(photo) %>" width="100%" height="800px"></iframe>
    <div class="photo-download" style="text-align: center">
      <%= link_to "Download", rails_blob_path(photo, disposition: 'attachment'), class: "btn btn-secondary mt-3", download: "#{photo.filename.to_s}" %>
    </div>
  <% elsif photo.filename.to_s.ends_with?('.doc', '.docx') %>
    <%= link_to photo.filename, rails_blob_url(photo, disposition: 'photo') %>
  <% else %>
    <%= image_tag photo, class: "img-fluid" %>
    <div class="photo-download" style="text-align: center">
      <%= link_to "Download", rails_blob_path(photo, disposition: 'attachment'), class: "btn btn-secondary mt-3", download: "#{photo.filename.to_s}" %>
    </div>
  <% end %>
  <hr>
</div>