<nav id="sidebar" class="sidebar js-sidebar">
  <div class="sidebar-content js-simplebar">
    <a class="sidebar-brand" href="/">
      <span class="align-middle">CodeSoft</span>
    </a>

    <ul class="sidebar-nav">

      <li class="sidebar-item">
        <%= link_to(root_path, class: "sidebar-link") do %>
          <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
        <% end %>
      </li>

      <% if current_user.ons? %>
        <li class="sidebar-item">
          <%= link_to(inspection_calendar_path, class: "sidebar-link") do %>
            <i class="align-middle" data-feather="calendar"></i>
            <span class="align-middle">Inspections this week</span>
          <% end %>
        </li>
      <% end %>

      <%# CONTACTS %>
      <% if current_user.admin? || current_user.ons? || current_user.oas? %>

      <li class="sidebar-item">
        <%= link_to(contacts_path, class: "sidebar-link") do %>
          <i class="align-middle" data-feather="users"></i>
          <span class="align-middle">Contacts</span>
        <% end %>
      </li>
      <% end %>

      <li class="sidebar-item">
        <%= link_to(all_violations_path, class: "sidebar-link") do %>
          <i class="align-middle" data-feather="alert-triangle"></i>
          <span class="align-middle">Violations</span>
        <% end %>
      </li>

      
      <li class="sidebar-item">
        <%= link_to(all_citations_path, class: "sidebar-link") do %>
          <i class="align-middle" data-feather="file"></i>
          <span class="align-middle">Citations</span>
        <% end %>
      </li>

      <li class="sidebar-item">
        <%= link_to(all_complaints_path, class: "sidebar-link") do %>
          <i class="align-middle" data-feather="alert-circle"></i>
          <span class="align-middle">Complaints</span>
        <% end %>
      </li>

      <li class="sidebar-item">
        <%= link_to(all_inspections_path, class: "sidebar-link") do %>
          <i class="align-middle" data-feather="clipboard"></i>
          <span class="align-middle">Inspections</span>
        <% end %>
      </li>

      <%# BUSINESSES %>
      <li class="sidebar-item">
        <%= link_to(businesses_path, class: "sidebar-link") do %>
          <i class="align-middle" data-feather="briefcase"></i>
          <span class="align-middle">Businesses</span>
        <% end %>
      </li>

      <%# LICENSES %>
      <li class="sidebar-item">
        <%= link_to(licenses_path, class: "sidebar-link") do %>
          <i class="align-middle" data-feather="file-text"></i>
          <span class="align-middle">Licenses</span>
        <% end %>
      </li>

      <%# INSPECTIONS %>
      <% if current_user.admin? || current_user.ons? || current_user.oas? %>
      <li class="sidebar-header">
        Inspections
      </li>

      <li class="sidebar-item">
        <%= link_to(new_complaint_path, class: "sidebar-link", data: { turbo: false }) do %>
          <i class="align-middle" data-feather="plus-circle"></i>
          <span class="align-middle">New Complaint</span>
        <% end %>
      </li>

      <% if current_user.admin? %>
      <li class="sidebar-item">
        <%= link_to(unassigned_inspections_path, class: "sidebar-link", data: { turbo: false }) do %>
          <i class="align-middle" data-feather="clipboard"></i>
          <span class="align-middle">Unassigned Inspections</span>
        <% end %>
      </li>
      <% end %>

      <li class="sidebar-item">
        <%= link_to(new_permit_inspection_path, class: "sidebar-link", data: { turbo: false }) do %>
          <i class="align-middle" data-feather="plus-circle"></i>
          <span class="align-middle">New Permit</span>
        <% end %>
      </li>

      <li class="sidebar-item">
        <%= link_to(new_license_inspection_path, class: "sidebar-link", data: { turbo: false }) do %>
          <i class="align-middle" data-feather="plus-circle"></i>
          <span class="align-middle">New License</span>
        <% end %>
      </li>



<!--      <% if current_user.ons? %>
        <li class="sidebar-item">
          <%= link_to(my_inspections_path, class: "sidebar-link") do %>
            <i class="align-middle" data-feather="clipboard"></i>
            <span class="align-middle">My Inspections</span>
          <% end %>
        </li>
      <% end %> -->



<!--      <% if current_user.ons? %>
        <li class="sidebar-item">
          <%= link_to(my_complaints_path, class: "sidebar-link") do %>
            <i class="align-middle" data-feather="clipboard"></i>
            <span class="align-middle">My Complaints</span>
          <% end %>
        </li>
      <% end %> -->



      <% end %>
      <%# PAGES %>
      <li class="sidebar-header">
        Pages
      </li>

      <li class="sidebar-item">
        <%= link_to(vacant_addresses_path, class: "sidebar-link") do %>
          <i class="align-middle" data-feather="home"></i>
          <span class="align-middle">Vacant Addresses</span>
        <% end %>
      </li>

      <li class="sidebar-item">
        <%= link_to(potentially_vacant_addresses_path, class: "sidebar-link") do %>
          <i class="align-middle" data-feather="home"></i>
          <span class="align-middle">Potentially Vacant</span>
        <% end %>
      </li>

      <li class="sidebar-item">
        <%= link_to(codes_path, class: "sidebar-link") do %>
          <i class="align-middle" data-feather="book"></i>
          <span class="align-middle">Codes</span>
        <% end %>
      </li>

      <li class="sidebar-item">
        <%= link_to(helpful_path, class: "sidebar-link") do %>
          <i class="align-middle" data-feather="help-circle"></i>
          <span class="align-middle">Helpful Links</span>
        <% end %>
      </li>

      <li class="sidebar-item">
        <%= link_to(sir_path, class: "sidebar-link") do %>
          <i class="align-middle" data-feather="clipboard"></i>
          <span class="align-middle">SIR</span>
        <% end %>
      </li>

      <% if current_user.admin? %>
      <li class="sidebar-item">
        <%= link_to(users_path, class: "sidebar-link") do %>
          <i class="align-middle" data-feather="users"></i>
          <span class="align-middle">Users</span>
        <% end %>
      </li>
      <% end %>

      <% if current_user.admin? || current_user.ons? || current_user.oas? %>
      <li class="sidebar-item">
        <%= link_to(new_address_path, class: "sidebar-link") do %>
          <i class="align-middle" data-feather="plus-circle"></i>
          <span class="align-middle">New Address</span>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
</nav>