  <div class="card">
    <div class="card-header">
      <div class="card-title mb-0">
        <h5 class="card-title mb-0">Unit <%= @unit.number.upcase %> Information</h5>
      </div>
      <div class="card-body text-center">
        <% if current_user.ons? && @is_priority_address %>
          <%= button_to mark_reviewed_path(@address.id), method: :patch, class: "btn btn-outline-primary mt-2", data: { turbolinks: false } do %>
            Mark as Reviewed <i class="bi bi-check-lg"></i>
          <% end %>
        <% end %>
        <%= link_to "All Comments", all_unit_comments_address_unit_path(@address, @unit), class: "btn btn-outline-secondary mt-2", data: { turbolinks: false } %>
        <%= link_to "All Violations (#{@unit.violations.where(status: :current).count} Active)", all_unit_violations_address_unit_path(@address, @unit), class: "btn btn-outline-danger mt-2", data: { turbolinks: false } %>
        <%= link_to "All Inspections", all_unit_inspections_address_unit_path(@address, @unit), class: "btn btn-outline-info mt-2", data: { turbolinks: false } %>
        <%= link_to "All Citations", all_unit_citations_address_unit_path(@address, @unit), class: "btn btn-outline-warning mt-2", data: { turbolinks: false } %>
        <%= link_to "All Complaints", all_unit_complaints_address_unit_path(@address, @unit), class: "btn btn-outline-success mt-2", data: { turbolinks: false } %>
      </div>
      <div class="card-body text-center">
        
      </div>
    </div>
  </div>