<div class="col-md-4 col-xl-3">
  <div class="card mb-3">
    <div class="card-header">
      <h5 class="card-title mb-0">Address Details</h5>
    </div>
    <div class="card-body text-center">
      <h3 class="mb-0">
        <%= @address.property_name_with_combadd %>
      </h3>
      <h3>
        <%= @unit.number.upcase %>
      </h3>
      <div>
        <% if @address.property_name.present? %>
          <p><strong>Property Name:</strong> <%= @address.property_name.titleize %></p>
          <%= link_to "Edit Property Name", address_name_address_path(@address), class: "btn btn-outline-secondary btn-sm mt-2", data: { turbo: false } %>
        <% else %>
          <%= link_to "Add property name", address_name_address_path(@address), class: "btn btn-outline-secondary btn-sm mt-2", data: { turbo: false } %>
        <% end %>
        <a class="btn btn-outline-secondary btn-sm mt-2" href="https://www.google.com/maps/search/?api=1&query=<%= @address.combadd %>+MD+<%= @address.premisezip %>" target="_blank">Google Map</a>
      </div>
    </div>
    <!-- only shows up when screen is small -->
    <div class="d-block d-md-none">
      <!-- Button to show collapsed div -->
      <div class="card-body text-center">
        <button class="btn btn-outline-primary btn-sm mt-2" type="button" data-bs-toggle="collapse" data-bs-target="#mobileCollapse" aria-expanded="false" aria-controls="mobileCollapse">
          Show More
        </button>
      </div>    
      <div id="mobileCollapse" class="collapse">
        <!-- Owner info -->
        <hr class="my-0">
        <div class="card-body">
          <h5 class="h6 card-title">Owner Information</h5>
          <p><strong>Owner Name:</strong> <%= @address.ownername.titleize %></p>
          <p><strong>Owner Address:</strong><%= @address.owneraddress %> <%= @address.ownercity %>, <%= @address.ownerstate %> <%= @address.ownerzip %></p>
          <div class="text-center">
            <%= link_to "Update Owner Info", edit_address_path(@address), class: "btn btn-outline-secondary btn-sm mt-2" %>
          </div>
        </div>
        <!-- contacts -->
        <hr class="my-0">
        <div class="card-body">
          <h5 class="h6 card-title">Associated Contacts</h5>
          <% if @unit.contacts.present? %>
            <% @unit.contacts.each do |c| %>
              <%= link_to c.name, contact_path(c), class: "btn btn-outline-info btn-sm mt-2" %>
            <% end %>
          <% end %>
          <div class="text-center">
            <%= link_to "Add Contact", manage_contacts_address_path(@address), class: "btn btn-outline-secondary btn-sm mt-2", data: { turbo: false } %>
          </div>
        </div>
        <!-- units -->
        <hr class="my-0">
        <div class="card-body">
          <h5 class="h6 card-title">All Units</h5>
          <div class="">
            <% for unit in @address.units %>
              <%= link_to unit.number, address_unit_path(@address, unit), class: "btn btn-outline-info btn-sm mt-2" %>
            <% end %>
            <div class="text-center">
              <%= link_to "Add Units", new_address_unit_path(@address), class: "btn btn-outline-secondary btn-sm mt-2" %>
            </div>
          </div>
        </div>
        <!-- businesses -->
        <hr class="my-0">
        <div class="card-body">
          <h5 class="h6 card-title">Business</h5>
            <% if @address.businesses.present? %>
              <% @address.businesses.each do |b| %>
                <%= link_to b.name, address_business_path(b.address, b), class: "btn btn-outline-info btn-sm mt-2" %>
              <% end %>
            <% end %>
          <div class="text-center">
            <%= link_to "Add Business", new_address_business_path(@address), class: "btn btn-outline-primary btn-sm mt-2", data: { turbo: false } %>
          </div>
        </div>
        <!-- violations -->
        <hr class="my-0">
        <div class="card-body">
          <h5 class="h6 card-title">Property Violation</h5>
          <div class="text-center">
            <%= link_to "Create a Violation Notice/Doorhanger", new_address_violation_path(@address), class: "btn btn-danger btn-sm mt-2", data: { turbo: false } %>
          </div>
        </div>
        <!-- inspections -->
        <hr class="my-0">
        <div class="card-body">
          <h5 class="h6 card-title">New Complaint or Inspection Request</h5>
          <div class="text-center">
            <%= link_to "Create New Inspection Request", new_address_inspection_path(@address), class: "btn btn-info btn-sm mt-2", data: { turbo: false } %>
          </div>
        </div>
      </div>
    </div>
    <!-- only shows up when screen is medium or larger -->
    <div class="d-none d-md-block">
      <!-- Owner info -->
      <hr class="my-0">
      <div class="card-body">
        <h5 class="h6 card-title">Owner Information</h5>
        <p><strong>Owner Name:</strong> <%= @address.ownername.titleize %></p>
        <p><strong>Owner Address:</strong><%= @address.owneraddress %> <%= @address.ownercity %>, <%= @address.ownerstate %> <%= @address.ownerzip %></p>
        <div class="text-center">
          <%= link_to "Update Owner Info", edit_address_path(@address), class: "btn btn-outline-secondary btn-sm mt-2" %>
        </div>
      </div>
      <!-- contacts -->
      <hr class="my-0">
      <div class="card-body">
        <h5 class="h6 card-title">Associated Contacts</h5>
        <% if @unit.contacts.present? %>
          <% @unit.contacts.each do |c| %>
            <%= link_to c.name, contact_path(c), class: "btn btn-outline-info btn-sm mt-2" %>
          <% end %>
        <% end %>
        <div class="text-center">
          <%= link_to "Add Contact", manage_contacts_address_unit_path(@unit.address, @unit), class: "btn btn-outline-secondary btn-sm mt-2", data: { turbo: false } %>
          <!-- remove contact from unit -->
        </div>
      </div>
      <!-- units -->
      <hr class="my-0">
      <div class="card-body">
        <h5 class="h6 card-title">All Units</h5>
        <div class="">
          <% for unit in @address.units %>
            <%= link_to unit.number, address_unit_path(@address, unit), class: "btn btn-outline-info btn-sm mt-2" %>
          <% end %>
          <div class="text-center">
            <%= link_to "Add Units", new_address_unit_path(@address), class: "btn btn-outline-secondary btn-sm mt-2" %>
          </div>
        </div>
      </div>
      <!-- businesses -->
      <hr class="my-0">
      <div class="card-body">
        <h5 class="h6 card-title">Business</h5>
          <% if @address.businesses.present? %>
            <% @address.businesses.each do |b| %>
              <%= link_to b.name, address_business_path(b.address, b), class: "btn btn-outline-info btn-sm mt-2" %>
            <% end %>
          <% end %>
        <div class="text-center">
          <%= link_to "Add Business", new_address_business_path(@address), class: "btn btn-outline-secondary btn-sm mt-2", data: { turbo: false } %>
        </div>
      </div>
      <!-- violations -->
      <hr class="my-0">
      <div class="card-body">
        <h5 class="h6 card-title">Property Violation</h5>
        <div class="text-center">
          <%= link_to "Create a Violation Notice/Doorhanger", new_address_violation_path(@address), class: "btn btn-danger btn-sm mt-2", data: { turbo: false } %>
        </div>
      </div>
      <!-- inspections -->
      <hr class="my-0">
      <div class="card-body">
        <h5 class="h6 card-title">New Complaint or Inspection Request</h5>
        <div class="text-center">
          <%= link_to "Create New Inspection Request", new_address_inspection_path(@address), class: "btn btn-info btn-sm mt-2", data: { turbo: false } %>
        </div>
      </div>
    </div>
  </div>
</div>
