<% 
  button_class = if violation.status == 'resolved'
                   ''
                 elsif violation.status == 'current'
                   'btn-danger'
                 else
                   ''
                 end
%>

<tr class="<%= 'table-danger' if violation.deadline_passed? && violation.status == "current" %> <%= 'table-warning' if violation.status == "current" %> <%= 'table-secondary' if violation.status == "resolved" %>">
  <td>
    <% if violation.unit.present? %>
      <%= link_to "#{violation.address.combadd.titleize} - Unit #{violation.unit.number.upcase}", address_unit_path(violation.address, violation.unit), class: "btn" %>
    <% else %>
      <%= link_to violation.address.combadd.titleize, address_path(violation.address), class: "btn" %>
    <% end %>
  </td>
  <td><%= violation.user.name %></td>
  <td><%= violation.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y") %></td>
  <td><%= link_to violation.violation_type,violation_path(violation), class: "btn #{button_class}" %></td>
  <td>
    <% violation.codes.each do |code| %>
      <%= render partial: 'shared/code_def_show', locals: { code: code } %>
    <% end %>
  </td>
  <td><%= violation.deadline_date.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y") %></td>
    <td>
      <% if violation.deadline_passed? && violation.violation_type == "Formal Notice" %>
<%= link_to violation.citations.count, violation_path(violation), class: "btn #{button_class}" %>
      <% end %>
  </td>
</tr>