<div class="container">
<br>
  <h1>Create a Violation</h1>

  <%= form_with(model: [@address, @violation], local: true) do |form| %>

  <% if @violation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@violation.errors.count, "error") %> prohibited this violation from being saved:</h2>

      <ul>
        <% @violation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <strong><%= form.label :violation_type %></strong>
    <%= form.select :violation_type, options_for_select(['Doorhanger', 'Formal Notice']), {}, class: "form-select" %>
  </div>
<br>
    <div class="field">
      <strong><%= form.label :deadline %></strong>
      <%= form.select :deadline, Violation::DEADLINE_OPTIONS, {}, class: "form-select" %>
    </div>
    <br>
    <strong>Attachments/Images</strong>
       <%= form.file_field :photos, multiple: true, class: "form-control" %>

    <br>
      <div class="form-group">
      <strong><%= form.label :codes %></strong>
      <em><p>If you don't see the code you're looking for, add the code using this button: <%= link_to "New code", new_code_path, class:"btn btn-outline-primary" %></p></em>

    <select id="code-select" multiple name="violation[code_ids][]">
      <% Code.all.each do |code| %>
        <option value="<%= code.id %>"><%= code.chapter %>-<%= code.section.split("-").last %> <%= code.name %></option>
      <% end %>
    </select>

    </div>
    <br>

    <div class="form-group">
      <%= form.submit "Create Violation", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<script>
  const codeSelect = new Choices('#code-select', {
    removeItemButton: true,
    searchEnabled: true,
    placeholder: true,
    placeholderValue: 'Select codes',
  });
</script>