<% content_for :title, @violation.address.combadd.titleize %>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">
      <%= link_to "Home", root_path %>
    </a></li>
    <li class="breadcrumb-item"><a href="#">
    <% if @violation.unit.present? %>
      <%= link_to @violation.unit.number, address_unit_path(@address, @unit) %>
    <% end %>
    <%= link_to @address.combadd.titleize, address_path(@address) %>
    </a></li>
    <li class="breadcrumb-item active">
      <%= "Violation ##{params[:id]}" %>
    </li>
  </ol>
</nav>
<div class="row">
  <div class="col-sm-4">
    <%# address information %>
    <h2><%= @violation.address.combadd.titleize %>
    <% if @unit.present? %>
      <small>Unit <%= @unit.number.upcase %></small>
    <% end %>
    </h2>
    <%# link to google maps from icon %>
    <a href="https://www.google.com/maps/search/?api=1&query=<%= @violation.address.combadd %>+MD+<%= @violation.address.premisezip %>" target="_blank" class="btn btn-secondary">
    <i class="bi bi-geo-alt-fill"></i> Search on Google Maps</a>
    <br>

  </div>
  <div class="col-sm-4">
    <div class="card shadow mb-3">
      <div class="card-body">         
        <h1>Violation #<%= @violation.id %>
        </h1>
        <p><strong>Address:</strong> <%= link_to @violation.address.combadd.titleize, address_path(@address), class:"btn btn-secondary" %></p> 
        <p><strong>Violation Type:</strong> <%= @violation.violation_type %></p>
        <p><strong>Violation Date:</strong> <%= @violation.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y") %></p>
        <p><strong>Deadline:</strong> <%= @violation.deadline_date.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y") %></p>

<%= link_to 'Extend Deadline', extend_deadline_violation_path(@violation), class: 'btn btn-secondary' %>

        <br>
        <br>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card shadow">
      <div class="card-body">
        <strong>Codes in Violation:</strong>
        <% @violation.codes.each do |code| %>
          <%= render partial: 'shared/code_def_show', locals: { code: code } %>
        <% end %>
        <% if @violation.photos.attached? %>
        <button type="button" class="btn btn-outline-primary btn-lg mt-3" data-bs-toggle="modal" data-bs-target="#allphotoModal">
          Attachments
        </button>
        <% end %>
        <% if @violation.current? %>
        <%= button_to "Mark as Abated", resolve_violation_path(@violation), method: :patch, class: "btn btn-success mb-3 mt-3" %>
        <% if @violation.violation_type == "Formal Notice"%>
          <%= link_to "Generate VN Letter", generate_report_violation_path(@violation), class: "btn btn-primary mb-3" %>
        <% end %>
        <% if @violation.deadline_passed? and @violation.violation_type == "Doorhanger" %>
          <%= link_to "Update to VN", edit_violation_path(@violation), class: "btn btn-warning mb-5" %>
        <% end %>
        <% else %>
        <br>
          <p><strong>Status: </strong>Closed <%= @violation.updated_at.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y") %></p>
        <% end %>
      </div>
    </div>
  </div>
</div> 


<div class="modal fade custom-modal-lg" id="allphotoModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        All Attachments
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <% @violation.photos.each do |photo| %>
        <%= render partial: 'shared/show_image', locals: { photo: photo } %>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h3>New Comment</h3>

        <% if user_signed_in? %>
          <%= form_for([@violation, @violation.violation_comments.build]) do |f| %>
            <%= f.text_area :content, class: "form-control" %>
            <br>
            <%= f.submit class: "btn btn-primary" %>
          <% end %>
        <% end %>

        <!-- show any associated comments -->
        <% if @violation.violation_comments.exists? %>
        <br>
          <h3>Comments (<%= @violation.violation_comments.count %>)</h3>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Comment</th>
                <th>Comment Date</th>
                <th>Commenter</th>
              </tr>
            </thead>

            <tbody>
              <% @violation.violation_comments.order(created_at: :desc).each do |comment| %>
                <tr>
                  <td><%= comment.content %></td>
                  <td><%= comment.created_at&.in_time_zone("Eastern Time (US & Canada)")&.strftime("%B %d, %Y %I:%M %p") %></td>
                  <td><%= comment.user.email %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>      
      </div>  
    </div>
  </div>
  <div class="col">
    <div class="table-responsive mt-5" style="text-align: center">
      <% if @violation.deadline_passed? && @violation.violation_type == "Formal Notice" %>
      <h1>Citations</h1>
      <%= link_to "New Citation", new_violation_citation_path(@violation), class: "btn btn-danger" %>
        <% if @violation.citations.any? %>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Citation ID</th>
                <th scope="col">Address</th>
                <th scope="col">Created By</th>
                <th scope="col">Created On</th>
                <th scope="col">Amount</th>
                <th scope="col">Status</th>
                <th scope="col">Code</th>
                <th scope="col">Deadline</th>
              </tr>
            </thead>
            <tbody>
              <% @violation.citations.each do |citation| %>
                <%= render partial: 'shared/citation_table', locals: { citation: citation } %>
              <% end %>
            </tbody> 
          </table>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
