
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 style="text-align:center">SIR Violations</h1>
      <div class="row mx-auto">
        <div class="col-4">
            <%= form_tag sir_path, method: :get do %>
              <label for="start_date">Start date:</label>
              <%= date_field_tag "start_date", params[:start_date], class: "form-control" %>

              <label for="end_date">End date:</label>
              <%= date_field_tag "end_date", params[:end_date], class: "form-control" %>

              <%= submit_tag "Filter", class: "btn btn-primary mt-3" %>
            <% end %>
        </div>
      </div>
      <br>

      <% if params[:start_date].present? && params[:end_date].present? %>
        <h2>Violations between <%= params[:start_date] %> and <%= params[:end_date] %> - (<%= @violations.count %> total)</h2>
      <% else %>
        <h2>Violations within the last 2 weeks - (<%= @violations.count %> total)</h2>
      <% end %>

      <br>
      <div class="table-responsive">
      <table class="table table-sm table-striped">
        <thead>
          <tr>
            <th>Address</th>
            <th>Created</th>
            <th>ONS</th>
            <th>Code(s)</th>
            <th>Deadline</th>
          </tr>
        </thead>
      </div>
      <tbody>
        <% @violations.each do |violation| %>
                  <% if violation.status == "current" %>

          <% if violation.deadline_passed? %>
          <tr class="table-danger">
          <td><%= link_to violation.address.combadd, address_path(violation.address), class: "btn btn-danger" %></td>
            <td><%= violation.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y at %I:%M%p") %></td>
            <td><%= violation.user.email.split("@").first %></td>
            <td>
 <% violation.codes.each do |code| %>
                  
              <button class="btn " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop<%= code.id %>" aria-controls="offcanvasTop"><%= code.name %></button>

              <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop<%= code.id %>" aria-labelledby="offcanvasTopLabel">
                <div class="offcanvas-header">
                  <h5 id="offcanvasTopLabel"><%= code.name %></h5>
                  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                  <%= code.description %>
                </div>
              </div>

                <% end %>
            </td>
            <td><%= violation.deadline_date.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y") %></td>
          </tr>
          <% else %>
          <tr class="table-warning">
          <td><%= link_to violation.address.combadd, address_path(violation.address), class: "btn btn-warning" %></td>
            <td><%= violation.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y at %I:%M%p") %></td>
            <td><%= violation.user.email.split("@").first %></td>
            <td>
 <% violation.codes.each do |code| %>
                  
              <button class="btn " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop<%= code.id %>" aria-controls="offcanvasTop"><%= code.name %></button>

              <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop<%= code.id %>" aria-labelledby="offcanvasTopLabel">
                <div class="offcanvas-header">
                  <h5 id="offcanvasTopLabel"><%= code.name %></h5>
                  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                  <%= code.description %>
                </div>
              </div>

                <% end %>
            </td>
            <td><%= violation.deadline_date.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y") %></td>
          </tr>
          <% end %>
          <%else%>
          <tr class="table-success">
          <td><%= link_to violation.address.combadd, address_path(violation.address), class: "btn btn-success" %></td>
            <td><%= violation.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y at %I:%M%p") %></td>
            <td><%= violation.user.email.split("@").first %></td>
            <td>
 <% violation.codes.each do |code| %>
                  
              <button class="btn " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop<%= code.id %>" aria-controls="offcanvasTop"><%= code.name %></button>

              <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop<%= code.id %>" aria-labelledby="offcanvasTopLabel">
                <div class="offcanvas-header">
                  <h5 id="offcanvasTopLabel"><%= code.name %></h5>
                  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                  <%= code.description %>
                </div>
              </div>

                <% end %>
            </td>
            <td><%= violation.deadline_date.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y") %></td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
      </table>
    </div>
  </div>
</div>