
<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <h1 style="text-align:center">SIR Violations</h1>
      <div class="row mx-auto">
        <div class="col-4">
            <%= form_tag sir_path, method: :get do %>
              <label for="start_date">Start date:</label>
              <%= date_field_tag "start_date", params[:start_date], class: "form-control" %>

              <label for="end_date">End date:</label>
              <%= date_field_tag "end_date", params[:end_date], class: "form-control" %>

              <%= submit_tag "Filter", class: "btn btn-primary mt-3" %>
            <% end %>
        </div>
      </div>
      <br>

      <% if params[:start_date].present? && params[:end_date].present? %>
        <h2>Violations between <%= params[:start_date] %> and <%= params[:end_date] %> - (<%= @violations.count %> total)</h2>
      <% else %>
        <h2>Violations within the last 2 weeks - (<%= @violations.count %> total)</h2>
      <% end %>

      <br>
      <div class="table-responsive">
      <table class="table table-sm table-striped">
        <thead>
          <tr>
            <th scope="col">Address</th>
            <th scope="col">Created By</th>
            <th scope="col">Created At</th>
            <th scope="col">Violation Type</th>
            <th scope="col">Code</th>
            <th scope="col">Deadline Date</th>
            <th scope="col">Citations</th>
          </tr>
        </thead>
      </div>
      <tbody>
        <% @violations.each do |violation| %>
          <%= render partial: "shared/violation_table", locals: {violation: violation} %>
        <% end %>
      </tbody>
      </table>
    </div>
  </div>
</div>