<div id="<%= dom_id code %>">
  <p>
    <strong>Chapter:</strong>
    <%= code.chapter %>
  </p>

  <p>
    <strong>Section:</strong>
    <%= code.section %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= code.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= code.description %>
  </p>

</div>
