<!-- app/views/contacts/show.html.erb -->

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">
      <%= link_to "Home", root_path %>
    </a></li>
    <li class="breadcrumb-item"><a href="#">
    <%= link_to contacts_path, class: "breadcrumb-item" do %>
      Contacts
    <% end %>
    </a></li>
  </ol>
</nav>
<% if @contact.hidden == true %>
  <div class="alert alert-danger" role="alert">
    This contact has been deleted. If this was a mistake, please contact Ryan.
  </div>
<% else %>
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h3>
          <strong>Name:</strong>
          <%= @contact.name %>
        </h3>

        <p>
          <strong>Email:</strong>
          <%= link_to @contact.email, "mailto:#{@contact.email}" %>
        </p>

        <p>
          <strong>Phone:</strong>
          <a href="tel:<%= @contact.phone %>"><%= format_phone_number(@contact.phone) %></a>
        </p>

        <p>
          <strong>Notes:</strong>
          <%= @contact.notes %>
        </p>
        <%= link_to 'Edit', edit_contact_path(@contact), class: "btn btn-secondary" %>
        <%= button_to 'Delete', hide_contact_path(@contact), method: :patch, class: 'btn btn-outline-danger mt-1', data: { confirm: 'Are you sure you want to delete this contact?' } %>  
      </div>
    </div>

  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <% if @businesses.any? %>
          <h3>Businesses (<%= @businesses.count %>)</h3>
          <ul>
            <% @businesses.each do |business| %>
              <li>
                <%= link_to business.business_name_and_trading_name, address_business_path(business.address, business) %>
                <% if business.address.present? %>
                  - <%= link_to business.address.property_name_with_combadd, business.address %>
                <% end %>
              </li>
            <% end %>
          </ul>
          <%= will_paginate @businesses, param_name: 'business_page', class:"text-center" %>
        <% else %>
          <h3>No businesses associated with this contact</h3>
        <% end %>

        <% if @addresses.present? %>
          <h3>Addresses (<%= @addresses.count %>)</h3>
          <ul>
            <% @addresses.each do |address| %>
              <li>
                <%= link_to address.property_name_with_combadd, address %> 
              </li>
            <% end %>
          </ul>
          <%= will_paginate @addresses, param_name: 'address_page', class:"text-center" %>
        <% else %>
          <!-- <h3>No addresses associated with this contact</h3> -->
        <% end %>
        <% if @units.present? %>
          <h3>Units (<%= @units.count %>)</h3>
          <ul>
            <% @units.each do |unit| %>
              <li>
                <%= link_to "#{unit.address.property_name_with_combadd} - #{unit.number.upcase}", address_unit_path(unit.address, unit) %>
                <!-- I need to add a way to remove the user from the unit from here -->
              </li>
            <% end %>
          </ul>
          <%= will_paginate @units, param_name: 'unit_page', class:"text-center" %>
        <% else %>
          <!-- <h3>No addresses associated with this contact</h3> -->
        <% end %>
      </div>
    </div>

  </div>
</div>


<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h3>New Comment</h3>

        <% if user_signed_in? %>
          <%= form_for([@contact, @contact.contact_comments.build]) do |f| %>
            <%= f.text_area :comment, class: "form-control" %>
            <br>
            <%= f.submit class: "btn btn-primary" %>
          <% end %>
        <% end %>

        <!-- show any associated comments -->
        <% if @contact_comments.any? %>
        <br>
          <h3>Comments (<%= @contact_comments.count %>)</h3>
          <div class="">
                <% @contact_comments.order(created_at: :desc).each do |comment| %>
          <%= render 'comments/comments3', comment: comment %>
                <% end %>
          </div>
            <%= will_paginate @contact_comments, param_name: 'comment_page', class:"text-center" %>
        <% end %>      
      </div>  
    </div>

  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <!-- show any associated inspections -->
        <% if @inspections.any? %>
            <h3>Inspections (<%= @inspections.count %>)</h3>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Inspection Date</th>
                  <th>Inspection Type</th>
                  <th>Status</th>
                  <th colspan="1"></th>
                </tr>
              </thead>

              <tbody>
                  <% @contact.inspections.order(created_at: :desc).each do |inspection| %>
                  <tr>
                  <% if inspection.scheduled_datetime == nil %>
                    <td><%= link_to "Not scheduled", address_inspection_path(inspection.address, inspection) %></td>
                  <% else %>
                    <td><%= inspection.scheduled_datetime.strftime("%B %d, %Y %I:%M %p") %></td>
                  <% end %>
                    <td><%= inspection.source %></td>
                    <td>
                      <% if inspection.status == nil %>
                        Pending
                      <% elsif inspection.status != nil %>
                        <%= inspection.status %>
                      <% end %>
                    </td>
                    <td><%= link_to "Show", address_inspection_path(inspection.address, inspection), class: "btn btn-secondary" %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <%= will_paginate @inspections, param_name: 'inspection_page', class:"text-center" %>
        <% else %>
          <h3>No inspections associated with this contact</h3>
        <% end %>        
      </div>
    </div>

  </div>
</div>
<% end %>




