<!-- app/views/contacts/show.html.erb -->
<div class="row">
  <div class="col-md-6">
    <p>
      <strong>Name:</strong>
      <%= @contact.name %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= link_to @contact.email, "mailto:#{@contact.email}" %>
    </p>

    <p>
      <strong>Phone:</strong>
      <a href="tel:<%= @contact.phone %>"><%= format_phone_number(@contact.phone) %></a>
    </p>

    <p>
      <strong>Notes:</strong>
      <%= @contact.notes %>
    </p>
    <%= link_to 'Edit', edit_contact_path(@contact), class: "btn btn-secondary" %> |
    <%= link_to 'Back', contacts_path, class: "btn btn-secondary"  %>
    <br>
    <br>
  </div>
  <div class="col-md-6">
    <% if @contact.businesses.any? %>
    <h3>Businesses (<%= @contact.businesses.count %>)</h3>
      <!-- for loop to show all businesses associated with this contact -->
      <ul>
      <% @contact.businesses.each do |business| %>
        <li>
        <%= link_to business.name, address_business_path(business.address, business) %> 

        <% if business.address.present? %>
          - <%= link_to business.address.combadd, business.address %>
        <% end %>
        </li>
      <% end %>
      </ul>
    <% end %>
  </div>
</div>


<div class="row">
  <div class="col-md-6">
    <h3>New Comment</h3>

    <% if user_signed_in? %>
      <%= form_for([@contact, @contact.contact_comments.build]) do |f| %>
        <%= f.text_area :comment, class: "form-control" %>
        <br>
        <%= f.submit class: "btn btn-primary" %>
      <% end %>
    <% end %>

    <!-- show any associated comments -->
    <% if @contact.contact_comments.exists? %>
    <br>
      <h3>Comments (<%= @contact.contact_comments.count %>)</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Comment</th>
            <th>Comment Date</th>
          </tr>
        </thead>

        <tbody>
          <% @contact.contact_comments.each do |comment| %>
            <tr>
              <td><%= comment.comment %></td>
              <td><%= comment.created_at&.in_time_zone("Eastern Time (US & Canada)")&.strftime("%B %d, %Y %I:%M %p") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
  <div class="col-md-6">
    <!-- show any associated inspections -->
    <% if @contact.inspections.any? %>
      <h3>Inspections (<%= @contact.inspections.count %>)</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Inspection Date</th>
            <th>Inspection Type</th>
            <th>Status</th>
            <th colspan="1"></th>
          </tr>
        </thead>

        <tbody>
            <% @contact.inspections.order(created_at: :desc).each do |inspection| %>
            <tr>
            <% if inspection.scheduled_datetime == nil %>
              <td><%= link_to "Not scheduled", address_inspection_path(inspection.address, inspection) %></td>
            <% else %>
              <td><%= link_to inspection.scheduled_datetime.strftime("%B %d, %Y %I:%M %p"), address_inspection_path(inspection.address, inspection) %></td>
            <% end %>
              <td><%= inspection.source %></td>
              <td>
                <% if inspection.status == nil %>
                  Pending
                <% elsif inspection.status != nil %>
                  <%= inspection.status %>
                <% end %>
              </td>
              <td><%= link_to "Show", address_inspection_path(inspection.address, inspection), class: "btn btn-secondary" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>




