<% content_for :title, "Dashboard" %>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">
      <%= link_to "Home", root_path %>
    </a></li>
  </ol>
</nav>
<div class="container-fluid">
  <% if params[:q].present? %>
  <div class="row">
    <div class="col">
      <h1 style="text-align:center">Search Results</h1>
      <table class="table table-striped">
        <thead class="thead-light">
          <tr>
            <th scope="col">Address</th>
          </tr>
        </thead>
        <tbody>
          <% @addresses.each do |address| %>
          <tr>
          <% if address.violations.current.exists? == true %>
            <td><%= link_to address.property_name_with_combadd, address_path(address), class:"btn btn-warning" %></td>
          <% else %>
            <td><%= link_to address.property_name_with_combadd, address_path(address), class:"btn btn-primary" %></td>
          <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <% end %>

  <% if !params[:q].present? %>
  <div class="row">
    <div class="col">
      <%= form_tag root_path, method: :get do %>
        <label for="onsstaff">ONS Staff:</label>
        <%= select_tag(:onsstaff, options_for_select([["All", ""]] + @ons_users.map{ |user| [user.email] }), class: "form-control") %>
        <%= submit_tag "Show", class: "btn btn-primary mt-3" %>
      <% end %>  

      <% if params[:onsstaff].present? %>
      <h1 style="text-align: center"><%= @user.name %></h1>
      <% else %>
      <h1 style="text-align: center">All ONS Staff</h1>
      <% end %>
      <br>
      <%= render partial: "shared/dash" %>
    </div>
  </div>
  <% end %>
</div>
