<br>
<div class="container">
  <div class="row">
    <h1 style="text-align:center">Violations for <%= @user.name %></h1>

      <div class="table-responsive">

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Address</th>
            <th>Type</th>
            <th>Code</th>
            <th>Created</th>
            <th>Deadline</th>
          </tr>
        </thead>
        <tbody>
        <% @recent_violations.each do |violation| %>
          <% if violation.deadline_passed? %>
          <tr class="table-danger">
          <% else %>
          <tr class="table-warning">
          <% end %>
            <td><%= link_to violation.address.combadd, address_path(violation.address), class: "btn btn-warning" %></td>
            <td><%= violation.violation_type %></td>
            <td><% violation.codes.each do |code| %>
                  
              <button class="btn " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop<%= code.id %>" aria-controls="offcanvasTop"><strong><%= code.name %></strong></button>

              <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop<%= code.id %>" aria-labelledby="offcanvasTopLabel">
                <div class="offcanvas-header">
                  <h5 id="offcanvasTopLabel"><%= code.name %></h5>
                  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                  <%= code.description %>
                </div>
              </div>

                <% end %></td>
            <td><%= violation.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y") %></td>
            <td><%= violation.deadline_date.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y") %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      </div>
  </div>
</div>





