<div class="container mt-5">
  <div class="row">
    <div class="col">
      <div class="card" style="background-color: #e3f2fd;">
        <div class="card-body">
          <%= search_form_for @q, url: root_path, method: :get do |f| %>
          <%= f.search_field :combadd_cont, class:"form-control form-control-lg", placeholder: "Type in the address here", required: true, minlength: 4, style: "text-align:center" %>
          <br><div style="text-align:center"><%= f.submit "Search", class:"btn btn-primary" %></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% if params[:q].present? %>
  <div class="row mt-5">
    <div class="col">
      <h1 style="text-align:center">Search Results</h1>
      <table class="table table-striped">
        <thead class="thead-light">
          <tr>
            <th scope="col">Address</th>
          </tr>
        </thead>
        <tbody>
          <% @addresses.each do |address| %>
          <tr>
          <% if address.violations.current.exists? == true %>
            <td><%= link_to address.combadd, address_path(address), class:"btn btn-warning" %></td>
          <% else %>
            <td><%= link_to address.combadd, address_path(address), class:"btn btn-primary" %></td>
          <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <% end %>
  <% if @current_user.ons? %>
  <div class="row mt-5">
    <div class="col">
      <h1 style="text-align:center">Today's Violations</h1>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Address</th>
                <th>Type</th>
                <th>Code</th>
                <th>Deadline</th>
              </tr>
            </thead>
            <tbody>
            <% @recent_violations.each do |violation| %>
              <%= render partial: "shared/violation_table", locals: {violation: violation} %>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <% if @recent_citations.present? %>
    <div class="row">
      <div class="col">
      <h1 style="text-align:center"> Active Citations</h1>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Address</th>
                <th>Amount</th>
                <th>Deadline</th>
                <th>Status</th>
                <th>Code</th>
              </tr>
            </thead>
            <tbody>
            <% @recent_citations.each do |citation| %>
              <%= render partial: "shared/citation_table", locals: {citation: citation} %>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
  
</div>





