<% content_for :title, "Dashboard" %>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">
      <%= link_to "Home", root_path %>
    </a></li>
  </ol>
</nav>

<div class="container-fluid mt-5">
  <% if !params[:q].present? %>
  <div class="row">
    <div class="col">
      <h1 style="text-align:center">Welcome to the Dashboard. It's currently <%= Time.now.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y") %>. </h1>
    </div>
  </div>
  <% end %>
  <div class="row">
  <% if params[:q].present? %>
    <div class="row mt-5">
      <div class="col">
        <h1 style="text-align:center">Search Results</h1>
        <%# if user is guest show this %>
        <% if @current_user.guest? %>
              <% @addresses.each do |address| %>
          <% if address.violations.current.exists? == true %>
            <div class="card mt-3" style="background-color: #ffccbc;">
              <div class="card-body">
                <h5 class="card-title"><%= address.combadd %></h5>
                <p class="card-text">Active Violations</p>
              </div>
            </div>
          <% else %>
            <div class="card mt-3" style="background-color: #c8e6c9;">
              <div class="card-body">
                <h5 class="card-title"><%= address.combadd %></h5>
                <p class="card-text">No Active Violations</p>
              </div>
            </div>
          <% end %>
        <% end %>
        <%# if user is not guest show this %>
        <% else %>
        <table class="table table-striped">
          <thead class="thead-light">
            <tr>
              <th scope="col">Address</th>
            </tr>
          </thead>
          <% if @addresses.empty? %>
          <tbody>
            <tr>
              <td>No results found. Please double check with SDAT that this is the correct property address.</td>
            </tr>
          </tbody>
          <% else %>
          <tbody>
            <% @addresses.each do |address| %>
            <tr>
            <% if address.violations.current.exists? == true %>
              <td><%= link_to address.combadd, address_path(address), class:"btn btn-warning" %></td>
            <% else %>
              <td><%= link_to address.combadd, address_path(address), class:"btn btn-primary" %></td>
            <% end %>
            </tr>
            <% end %>
          </tbody>
          <% end %>
        </table>
        <% end %>
      </div>
    </div>
  <% end %>
  </div>
  <% if !params[:q].present? %>
  <%= render partial: "shared/dash" %>
  <% end %>
</div>




