<% content_for :title, "Dashboard" %>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">
      <%= link_to "Home", root_path %>
    </a></li>
  </ol>
</nav>

<div class="container-fluid mt-5">
  <div class="row">
  <% if params[:q].present? %>
    <div class="row mt-5">
      <div class="col">
        <h1 style="text-align:center">Search Results</h1>
        <%# if user is guest show this %>
        <% if @current_user.guest? %>
              <% @addresses.each do |address| %>
          <% if address.violations.current.exists? == true %>
            <div class="card mt-3" style="background-color: #ffccbc;">
              <div class="card-body">
                <h5 class="card-title"><%= address.combadd %></h5>
                <p class="card-text">Active Violations</p>
              </div>
            </div>
          <% else %>
            <div class="card mt-3" style="background-color: #c8e6c9;">
              <div class="card-body">
                <h5 class="card-title"><%= address.combadd %></h5>
                <p class="card-text">No Active Violations</p>
              </div>
            </div>
          <% end %>
        <% end %>
        <%# if user is not guest show this %>
        <% else %>
        <table class="table table-striped">
          <thead class="thead-light">
            <tr>
              <th scope="col">Address</th>
            </tr>
          </thead>
          <% if @addresses.empty? %>
          <tbody>
            <tr>
              <td>No results found. Please double check with SDAT that this is the correct property address.</td>
            </tr>
          </tbody>
          <% else %>
          <tbody>
            <% @addresses.each do |address| %>
            <tr>
            <% if address.violations.current.exists? == true %>
              <td><%= link_to address.combadd, address_path(address), class:"btn btn-warning" %></td>
            <% else %>
              <td><%= link_to address.combadd, address_path(address), class:"btn btn-primary" %></td>
            <% end %>
            </tr>
            <% end %>
          </tbody>
          <% end %>
        </table>
        <% end %>
      </div>
    </div>
  <% end %>
  </div>
  <% if !params[:q].present? %>
  <div class="row">
    <div class="col-xl-4">
      <div class="card">
        <div class="card-body">
          <button type="button" class="btn btn-outline-secondary d-block d-xl-none float-end" data-bs-toggle="collapse" data-bs-target="#inspectionDiv">Hide Inspections</button>
          <br class="d-block d-xl-none">
          <div id="inspectionDiv" class="collapse show">
            <!-- a list of inspections scheduled today and unscheduled inspections -->
            <div>
              <!-- a count of unscheduled inspections -->
              <% if @unscheduled_inspections.empty? %>
                <p>No unscheduled inspections.</p>
              <% else %>
                <h3>Unscheduled Inspections</h3>
                <p><%= link_to pluralize(@unscheduled_inspections.count, 'Unscheduled Inspection'), my_inspections_path(scheduled_datetime: "unscheduled"), class: "btn btn-secondary" %></p>
              <% end %>
            </div>
            <% if @future_inspections.empty? %>
              <p>No inspections upcoming.</p>
            <% else %>
            <h3>Future Inspections</h3>
              <% @future_inspections.each do |inspection| %>
              <div class="card mt-3">
                <div class="card-body">
                  <h5 class="card-title"><%= link_to inspection.address.combadd, address_inspection_path(inspection.address, inspection) %></h5>
                    <p class="card-text"><strong>Scheduled:</strong> <%= inspection.scheduled_datetime.strftime("%m/%d/%Y %I:%M %p") %></p>
                </div>
              </div>
              <% end %>
            <% end %>
          </div>        
        </div>
      </div>
    </div>
    <div class="col-xl-5">
      <div class="card">
        <div class="card-body">
          <button type="button" class="btn btn-outline-secondary d-block d-xl-none float-end" data-bs-toggle="collapse" data-bs-target="#inspectionDiv2">Hide Inspections</button>
          <br class="d-block d-xl-none">
          <div id="inspectionDiv2" class="collapse show">
            <% if @past_inspections.present? %>
              <h3>
              <% if @past_inspections.present? %>
                <p><%= pluralize(@past_inspections.count, 'Inspection') %> require action.</p>
              <% else %>
                <p>No past inspections require action.</p>
              <% end %>
              </h3>
              <% @past_inspections.each do |inspection| %>
                <div class="card mt-3" style="background-color: #ffcdd2;">
                  <div class="card-body">
                    <h5 class="card-title"><%= link_to inspection.address.combadd, address_inspection_path(inspection.address, inspection) %></h5>
                    <p class="card-text"><strong>Scheduled:</strong> <%= inspection.scheduled_datetime.strftime("%m/%d/%Y %I:%M %p") %></p>
                  </div>
                </div>
              <% end %>
            <% end %>    
            <h3>Today's Inspections</h3>
            <% if @today_inspections.empty? %>
              <p>No inspections scheduled for today.</p>
            <% else %>
              <% @today_inspections.each do |inspection| %>
              <div class="card mt-3" style="background-color: #c8e6c9;">
                <div class="card-body">
                  <h5 class="card-title"><%= link_to inspection.address.combadd, address_inspection_path(inspection.address, inspection) %></h5>
                  <p class="card-text"><strong>Scheduled:</strong> <%= inspection.scheduled_datetime.strftime("%I:%M %p") %></p>
                </div>
              </div>
              <% end %>
            <% end %>
          </div>        
        </div>
      </div>
    </div>
    <div class="col-xl-3">
      <div class="card">
        <div class="card-body">
          <button type="button" class="btn btn-outline-secondary d-block d-xl-none float-end" data-bs-toggle="collapse" data-bs-target="#complaintDiv">Hide Complaints</button>
          <br class="d-block d-xl-none">
          <div id="complaintDiv" class="collapse show">
            <!-- a list of complaints -->
            <% if @complaints.empty? %>
              <p>No complaints.</p>
            <% else %>
                <h3>Complaints (<%= @complaints.count %>)</h3>
              <% @complaints.each do |inspection| %>
                <div class="card mt-3">
                  <div class="card-body">
                    <h5 class="card-title"><%= link_to inspection.address.combadd, address_inspection_path(inspection.address, inspection) %></h5>
                    <p class="card-text"><strong>Created:</strong> <%= inspection.created_at.strftime("%m/%d/%Y") %></p>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>        
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12">
      <div class="row">      <!-- list of @priority_addresses -->
        <div class="card">
          <div class="card-body">
            <div class="row table-responsive">
            <h3>My Priority Addresses</h3>
            <h5>Addresses with current violations, unpaid citations, pending trial citations, or pending inspections</h5>
            <turbo-frame id="priority-addresses">
              <%= render partial: "shared/priority_table", locals: { priority_addresses: @priority_addresses } %>
            </turbo-frame>
            </div>    
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>




