<br>
<div class="container">
  <div class="row">
<h1>Recent Activity for <%= @user.email %></h1>
    <div class="col-lg-6">
      <h2>Recent Violations</h2>
      <ul>
        <% @recent_violations.each do |violation| %>
      <% if violation.status == "current" %>
        <div class="card border-danger mb-3">
        <div class="card-header"><%= link_to violation.address.combadd, address_path(violation.address), class: "btn btn-danger" %> by <%= violation.user.email.split("@").first %></div>
        <div class="card-body">
        <p>Codes referenced:</p>
        <strong>
          <% violation.codes.each do |code| %>
            <%= code.name %>;
          <% end %>
        </strong>
        <br>
        <br>
        <p>Deadline: <strong><%= violation.deadline_date.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y") %></strong></p>
        </div>
        <div class="card-footer">
        <%= violation.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y at %I:%M%p") %>
        </div>
        </div><br>
      <% else %>
        <div class="card border-success mb-3">
        <div class="card-header"><%= link_to violation.address.combadd, address_path(violation.address), class: "btn btn-success" %> by <%= violation.user.email.split("@").first %></div>
        <div class="card-body">
                <p>Codes referenced:</p>
        <strong>
          <% violation.codes.each do |code| %>
            <%= code.name %>;
          <% end %>
        </strong>
        <br>
        <br>
        <p>Deadline: <strong><%= violation.deadline_date.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y") %></strong></p>
        <br>
        <p>Resolved: <%= violation.updated_at.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y at %I:%M%p") %></p>
        </div>
        <div class="card-footer">
        <%= violation.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y at %I:%M%p") %>
        </div>
        </div><br>
      <% end %>        <% end %>
      </ul>
    </div>
    <div class="col-lg-6">
      <h2>Recent Comments</h2>
        <ul>
          <% @recent_comments.each do |comment| %>
            <li><%= comment.content %></li>
          <% end %>
        </ul>
    </div>
  </div>
</div>





