<% if item.is_a?(Comment) %> 
  <div class="d-flex align-items-start">
    <div class="flex-grow-1">
      <small class="float-end text-navy">
        <%= time_ago_in_words(item.created_at) %> ago
      </small>
      <% if item.user == current_user %>
        <strong><%= item.user.email_without_domain %></strong> <%= link_to "commented", edit_address_comment_path(item.address, item), class: "btn btn-outline-secondary btn-sm" %><%= " on " if item.unit.present? %><%= link_to "#{item.unit.number.upcase}", address_unit_path(item.address, item.unit), class: "btn btn-outline-info btn-sm" if item.unit.present? %><% if local_assigns[:show_address] %> at <%= link_to item.address.property_name_with_combadd, item.address, class: "btn btn-outline-secondary btn-sm" %><% end %>:
      
      <% else %>
        <strong><%= item.user.email_without_domain %></strong> commented<%= " on " if item.unit.present? %><%= link_to "#{item.unit.number.upcase}", address_unit_path(item.address, item.unit), class: "btn btn-outline-info btn-sm" if item.unit.present? %><% if local_assigns[:show_address] %> on <%= link_to item.address.property_name_with_combadd, item.address, class: "btn btn-outline-secondary btn-sm" %><% end %>:<br>
                    

      <% end %>
      <p>"<%= item.content %>"</p>
      <% if current_user == item.user %>
        <%= link_to "Edit", edit_address_comment_path(item.address, item), class: "btn btn-outline-secondary btn-sm" %>
        <br>
      <% end %>
      <% if item.photos.attached? %>
        <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#item-<%= item.id %>">
          Attachments
        </button>
        <br>
      <% end %>
      <small class="text-muted">
        <%= item.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y %l:%M %p") %>
      </small>
    </div>
  </div>

  <hr>
<% elsif item.is_a?(ViolationComment) %>
  <div class="d-flex align-items-start">
    <div class="flex-grow-1">
      <small class="float-end text-navy">
        <%= time_ago_in_words(item.created_at) %> ago
      </small>
      <strong><%= item.user.email_without_domain %></strong> commented on <%= link_to item.violation.violation_type, violation_path(item.violation), class: "btn btn-outline-secondary btn-sm" %><%= " on " if item.violation.unit.present? %><%= link_to "#{item.violation.unit.number.upcase}", address_unit_path(item.violation.address, item.violation.unit), class: "btn btn-outline-info btn-sm" if item.violation.unit.present? %><% if local_assigns[:show_address] %> at <%= link_to item.violation.address.property_name_with_combadd, item.violation.address, class: "btn btn-outline-secondary btn-sm" %><% end %>:<br>
      <p>"<%= item.content %>"</p>
      <% if current_user == item.user %>
        <%= link_to "Edit", edit_violation_comment_path(item), class: "btn btn-outline-secondary btn-sm" %>
        <br>
      <% end %>
      <% if item.photos.attached? %>
        <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#item-<%= item.id %>">
          Attachments
        </button>
        <br>
      <% end %>
      <small class="text-muted">
        <%= item.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y %l:%M %p") %>
      </small>
    </div>
  </div>

  <hr>
<% elsif item.is_a?(CitationComment) %>
  <div class="d-flex align-items-start">
    <div class="flex-grow-1">
      <small class="float-end text-navy">
        <%= time_ago_in_words(item.created_at) %> ago
      </small>
      <strong><%= item.user.email_without_domain %></strong> commented on <%= link_to "Citation", citation_path(item.citation), class: "btn btn-sm btn-outline-secondary" %><%= " on " if item.citation.unit.present? %><%= link_to "#{item.citation.unit.number.upcase}", address_unit_path(item.citation.unit.address, item.citation.unit), class: "btn btn-outline-info btn-sm" if item.citation.unit.present? %><% if local_assigns[:show_address] %> at <%= link_to item.citation.violation.address.property_name_with_combadd, item.citation.violation.address, class: "btn btn-outline-secondary btn-sm" %><% end %>: <br>
      <p>"<%= item.content %>"</p>
      <% if item.photos.attached? %>
        <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#item-<%= item.id %>">
          Attachments
        </button>
        <br>
      <% end %>
      <small class="text-muted">
        <%= item.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y %l:%M %p") %>
      </small>
    </div>
  </div>

  <hr>
<% elsif item.is_a?(Violation) %>
  <div class="d-flex align-items-start">
    <div class="flex-grow-1">
      <small class="float-end text-navy">
        <%= time_ago_in_words(item.created_at) %> ago
      </small>
      <strong>
      <%= item.user.email_without_domain %></strong> created a <%= link_to item.violation_type, violation_path(item), class: "btn btn-outline-secondary btn-sm" %><%= " on " if item.unit.present? %>
        <%= link_to "#{item.unit.number.upcase}", address_unit_path(item.address, item.unit), class: "btn btn-outline-info btn-sm" if item.unit.present? %><% if local_assigns[:show_address] %> at <%= link_to item.address.property_name_with_combadd, item.address, class: "btn btn-outline-secondary btn-sm" %><% end %> for<% if item.business.present? %> <%= link_to item.business.business_name_and_trading_name, address_business_path(item.address, item.business), class: "btn btn-outline-secondary btn-sm" %><% end %>:<br>
        <div class="mt-2 mb-2 text-center">
        <% item.codes.each do |code| %>
          <%= render partial: 'shared/code_def_show', locals: { code: code } %>
        <% end %>
        </div>
        <p>
          <% if item.status == "current" %>
            <strong>Deadline Date:</strong> <%= item.deadline_date.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y") %>
          <% else %>
            <strong>Status:</strong> <%= item.status.titleize %>
          <% end %>
        </p>
        <% if item.photos.attached? %>
        <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#item-<%= item.id %>">
          Attachments
        </button>
        <br>
      <% end %>
      <small class="text-muted">
        <%= item.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y %l:%M %p") %>
      </small>
    </div>
  </div>

  <hr>
<% elsif item.is_a?(Citation) %>
  <div class="d-flex align-items-start">
    <div class="flex-grow-1">
      <small class="float-end text-navy">
        <%= time_ago_in_words(item.created_at) %> ago
      </small>
      <strong><%= item.user.email_without_domain %></strong> created a <%= link_to "Citation", citation_path(item), class: "btn btn-sm btn-outline-secondary" %><%= " on " if item.unit.present? %><%= link_to "#{item.unit.number.upcase}", address_unit_path(item.unit.address, item.unit), class: "btn btn-outline-info btn-sm" if item.unit.present? %> for <strong><%= item.code.name %></strong><% if local_assigns[:show_address] %> at <%= link_to item.violation.address.property_name_with_combadd, item.violation.address, class: "btn btn-outline-secondary btn-sm" %><% end %>:<br>
      <p>
        <% if item.status == "paid" %> Due: <%= item.deadline.strftime("%B %d, %Y") %> <% end %>
        <br>
        <strong>Status:</strong> <%= item.status %>
      </p>
      <% if item.photos.attached? %>
        <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#item-<%= item.id %>">
          Attachments
        </button>
        <br>
      <% end %>
      <small class="text-muted">
        <%= item.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y %l:%M %p") %>
      </small>
    </div>
  </div>

  <hr>  
<% elsif item.is_a?(Inspection) %>
  <div class="d-flex align-items-start">
    <div class="flex-grow-1">
      <small class="float-end text-navy">
        <%= time_ago_in_words(item.created_at) %> ago
      </small>
      <% if item.source == "Complaint" %>
        <p><%= link_to "Complaint", address_inspection_path(item.address, item), class: "btn btn-sm btn-outline-secondary" %> was made<% if local_assigns[:show_address] %> at <%= link_to item.address.property_name_with_combadd, item.address, class: "btn btn-outline-secondary btn-sm" %><% end %>:</p>
        <% if item.description.present? %>
          <p>"<%= item.description %>"</p>
        <% end %>
        <% if item.status.present? %>
          <p><strong>Result:</strong> 
            <% if item.status == "Satisfactory" %>
              No Violation Found
            <% else %>
              Violation Found
            <% end %>
          </p>
        <% end %>
      <% else %>
        <p><%= link_to "Inspection", address_inspection_path(item.address, item), class: "btn btn-sm btn-outline-secondary" %> was created for <strong><%= item.source %></strong><%= " for " if item.unit.present? %><%= link_to "#{item.unit.number.upcase}", address_unit_path(item.address, item.unit), class: "btn btn-outline-info btn-sm" if item.unit.present? %><% if local_assigns[:show_address] %> at <%= link_to item.address.property_name_with_combadd, item.address, class: "btn btn-outline-secondary btn-sm" %><% end %>.</p>
      <% end %>
      <small class="text-muted">
        <%= item.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y %l:%M %p") %>
      </small>
    </div>
  </div>

  <hr>
<% elsif item.is_a?(InspectionComment) %>
  <div class="d-flex align-items-start">
    <div class="flex-grow-1">
      <small class="float-end text-navy">
        <%= time_ago_in_words(item.created_at) %> ago
      </small>
      <strong><%= item.user.email_without_domain %></strong> commented on <%= link_to "Inspection", address_inspection_path(item.inspection.address, item.inspection), class: "btn btn-sm btn-outline-secondary" %><%= " on " if item.inspection.unit.present? %><%= link_to "#{item.inspection.unit.number.upcase}", address_unit_path(item.inspection.address, item.inspection.unit), class: "btn btn-outline-info btn-sm" if item.inspection.unit.present? %><% if local_assigns[:show_address] %> at <%= link_to item.inspection.address.property_name_with_combadd, item.inspection.address, class: "btn btn-outline-secondary btn-sm" %><% end %>:<br>
      <p>"<%= item.content %>"</p>
      <% if item.photos.attached? %>
        <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#item-<%= item.id %>">
          Attachments
        </button>
        <br>
      <% end %>
      <small class="text-muted">
        <%= item.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y %l:%M %p") %>
      </small>
    </div>
  </div>

  <hr>
<% end %>

<!-- Modal -->
<div class="modal fade custom-modal-lg" id="item-<%= item.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <% item.photos.each do |photo| %>
          <%= render partial: 'shared/show_image', locals: { photo: photo } %>
        <% end %>
      </div>
    </div>
  </div>
</div>