<br>
<br><div class="container">
  <div class="row">

    <div class="col-lg-4">
      <div class="card" style="background-color: #e3f2fd;">
        <div class="card-body">
          <%= search_form_for @q, url: root_path, method: :get do |f| %>
          <%= f.search_field :combadd_cont, class:"form-control form-control-lg", placeholder: "Type in the address here" %>
          <br><div style="text-align:center"><%= f.submit "Search", class:"btn btn-primary" %></div>
          <% end %>
        </div>
      </div>
      <br>
      <table class="table table-striped">
        <thead class="thead-light">
          <tr>
            <th scope="col">Address</th>
          </tr>
        </thead>
        <tbody>
          <% @addresses.order("updated_at DESC").first(10).each do |address| %>
          <tr>
          <% if address.violations.current.exists? == true %>
            <td><%= link_to address.combadd, address_path(address), class:"btn btn-warning" %></td>
          <% else %>
            <td><%= link_to address.combadd, address_path(address), class:"btn btn-primary" %></td>
          <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>

    </div>
    <div class="col-lg-4">
    <h1 style="text-align:center">Recent Violations</h1>


    <ol class="list-group">
      <% @violations.first(10).each do |violation| %>

      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <% if violation.status == "current" %>
          <div><%= link_to violation.address.combadd, address_path(violation.address), class: "btn btn-warning" %> - <%= violation.user.email.split("@").first %></div>
          <% else %>
          <div><%= link_to violation.address.combadd, address_path(violation.address), class: "btn btn-success" %> - <%= violation.user.email.split("@").first %></div>
          <% end %>
          <br>
          <strong>
          <div class="card"><div class="card-body">
            <% violation.codes.each do |code| %>
              <button class="btn btn-sm" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop<%= code.id %>" aria-controls="offcanvasTop"><%= code.name %></button>

              <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop<%= code.id %>" aria-labelledby="offcanvasTopLabel">
                <div class="offcanvas-header">
                  <h5 id="offcanvasTopLabel"><%= code.name %></h5>
                  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                  <%= code.description %>
                </div>
              </div>

            <% end %></div></div>
            </strong>
            <br>
            <%= violation.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y at %I:%M%p") %>
        </div>
        
        <% if violation.photos.attached? %>
          <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#violation-<%= violation.id %>">
            <span class="badge bg-primary rounded-pill">Photos</span>
          </button>
        <% end %>
      </li>

            <!-- Violation Modal -->
            <div class="modal fade custom-modal-lg" role="dialog" id="violation-<%= violation.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                      <% violation.codes.each do |code| %>
                        <%= code.name %>;
                      <% end %>
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <% violation.photos.each do |photo| %>
                      <%= image_tag photo, class: "img-fluid" %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>

      <% end %>
    </ol>
    </div>
    <div class="col-lg-4">
      <h1 style="text-align:center">Recent Comments</h1>

<ol class="list-group">
          <% @comments.first(10).each do |comment| %>

  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
    <% if comment.address.violations.where(status: "current").exists? %>
      <div class="fw-bold"><%= link_to comment.address.combadd, address_path(comment.address), class: "btn btn-warning" %></div>
    <% else %>
      <div class="fw-bold"><%= link_to comment.address.combadd, address_path(comment.address), class: "btn btn-primary" %></div>
    <% end %>
      <strong><%= truncate(comment.content, length: 200) %></strong> - <%= comment.user.email.split("@").first %>
      <br>
      <%= comment.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y at %I:%M%p") %>
    </div>
              <% if comment.photos.attached? %>
              <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#comment-<%= comment.id %>">
                    <span class="badge bg-primary rounded-pill">Photos</span>

              </button>
              <% end %>

                          <!-- Comment Modal -->
            <div class="modal fade custom-modal-lg" role="dialog" id="comment-<%= comment.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                      <%= comment.content %>
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <% comment.photos.each do |photo| %>
                      <%= image_tag photo, class: "img-fluid" %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
  </li>
  <% end %>
</ol>

    </div>
  </div>
<br>
</div>