<br>
<br><div class="container">
  <div class="row">

    <div class="col-lg-6">
      <div class="card" style="background-color: #e3f2fd;">
        <div class="card-body">
          <%= search_form_for @q, url: root_path, method: :get do |f| %>
          <%= f.search_field :combadd_cont, class:"form-control form-control-lg", placeholder: "Type in the address here" %>
          <br><div style="text-align:center"><%= f.submit "Search", class:"btn btn-primary" %></div>
          <% end %>
        </div>
      </div>
      <br>
      <table class="table table-striped">
        <thead class="thead-light">
          <tr>
            <th scope="col">Address</th>
            <th scope="col">Comments</th>
            <th scope="col">All Violations</th>
          </tr>
        </thead>
        <tbody>
          <% @addresses.order("updated_at DESC").first(50).each do |address| %>
          <tr>
          <% if address.violations.current.exists? == true %>
            <td><%= link_to address.combadd, address_path(address), class:"btn btn-danger" %></td>
          <% else %>
            <td><%= link_to address.combadd, address_path(address), class:"btn btn-primary" %></td>
          <% end %>
            <td><%= address.comments.all.count %></td>
            <td><%= address.violations.all.count %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

    </div>
    <div class="col-lg-6">
    <h1>Recent Violations</h1>
      <% @violations.first(50).each do |violation| %>
      <% if violation.status == "current" %>
        <div class="card border-danger mb-3">
        <div class="card-header"><%= link_to violation.address.combadd, address_path(violation.address), class: "btn btn-danger" %> by <%= violation.user.email.split("@").first %></div>
        <div class="card-body">
        <p>Codes referenced:</p>
        <strong>
          <% violation.codes.each do |code| %>
            <%= code.name %>;
          <% end %>
        </strong>
        <br>
        <br>
        <p>Deadline: <strong><%= violation.deadline_date.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y") %></strong></p>
        </div>
        <div class="card-footer">
        <%= violation.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y at %I:%M%p") %>
        </div>
        </div><br>
      <% else %>
        <div class="card border-success mb-3">
        <div class="card-header"><%= link_to violation.address.combadd, address_path(violation.address), class: "btn btn-success" %> by <%= violation.user.email.split("@").first %></div>
        <div class="card-body">
                <p>Codes referenced:</p>
        <strong>
          <% violation.codes.each do |code| %>
            <%= code.name %>;
          <% end %>
        </strong>
        <br>
        <br>
        <p>Deadline: <strong><%= violation.deadline_date.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y") %></strong></p>
        <br>
        <p>Resolved: <%= violation.updated_at.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y at %I:%M%p") %></p>
        </div>
        <div class="card-footer">
        <%= violation.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y at %I:%M%p") %>
        </div>
        </div><br>
      <% end %>

      <% end %>
    </div>
  </div>
<br>
</div>