<% content_for :title, @address.combadd %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">
      <%= link_to "Home", root_path %>
    </a></li>
    <li class="breadcrumb-item active"><a href="#">
    <%= link_to @address.combadd.titleize, address_path(@address) %>
    </a></li>
  </ol>
</nav>

<div class="row">
  <div class="col-sm-4">
    <%# address information %>
    <h2><%= @address.combadd %></h2>
    <%# link to google maps from icon %>
    <a href="https://www.google.com/maps/search/?api=1&query=<%= @address.combadd %>+MD+<%= @address.premisezip %>" target="_blank" class="btn btn-secondary">
    <i class="bi bi-geo-alt-fill"></i> Search on Google Maps</a>
    <br>
    <% if @address_photos.any? %>
    <button type="button" class="btn btn-primary mt-2 mb-2" data-bs-toggle="modal" data-bs-target="#allphotoModal">
      <i class="bi bi-paperclip"></i>
      All Photos and Attachments
    </button>
    <% end %>
    <!-- button to add units -->
    <%= link_to "Add Units", new_address_unit_path(@address), class: "btn btn-primary mt-2 mb-2" %>
    <!-- button to show all units -->
    <%= link_to "Show Units (#{@address.units.count} units)", address_units_path(@address), class: "btn btn-primary mt-2 mb-2" %>
    <!--
    <br>
    <a href="https://sdat.dat.maryland.gov/RealProperty/Pages" target="_blank" class="btn btn-secondary">
      <i class="bi bi-building"></i> SDAT Property Search
    </a> -->

    <!-- Modal -->
    <div class="modal fade custom-modal-lg" id="allphotoModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            All Attachments
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <% @address_photos.each do |photo| %>
              <%= render partial: "shared/show_image", locals: { photo: photo } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>


  </div>
  <div class="col-sm-4">
    <h4>Owner:</h4>
    <p><%= @address.ownername %></p>
    <h4>Owner Address:</h4>
    <p><%= @address.owneraddress %> <%= @address.ownercity %>, <%= @address.ownerstate %> <%= @address.ownerzip %></p>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-secondary mt-2 mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Update Owner/Address
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Be careful when updating the address information.
            
          </div>
          <div class="modal-footer">
            <%= link_to "Update", edit_address_path(@address), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card shadow" style="background-color: #e3f2fd;">
      <div class="card-body">
        <%= render 'comments/form' %>
      </div>
    </div>
  </div>
</div>
<div class="row mt-5">
  <div class="col">
    <nav class="nav nav-pills nav-fill">
      <a class="nav-item nav-link active" href="#" data-bs-toggle="tab" data-bs-target="#comment">
        <i class="bi bi-chat-dots"></i> <%= pluralize(@address.comments.count, "Comment") %>
      </a>
      <a class="nav-item nav-link" href="#" data-bs-toggle="tab" data-bs-target="#violation">
        <i class="bi bi-exclamation-triangle-fill"></i> <%= pluralize(@address.violations.count, "Violation") %>
      </a>
      <a class="nav-item nav-link" href="#" data-bs-toggle="tab" data-bs-target="#citation">
        <i class="bi bi-file-earmark-text-fill"></i> <%= pluralize(@address_citations.count, "Citation") %>
      </a>
      <a class="nav-item nav-link disabled" href="#" data-bs-toggle="tab" data-bs-target="#inspection">
        <i class="bi bi-clipboard-check"></i> <%#= pluralize(@address.inspections.count, "Inspection") %> Inspections
      </a>
    </nav>

    <div class="tab-content">
      <div class="tab-pane fade show active" id="comment">
      <br>
        <% @address.comments.order("created_at DESC").each do |comment| %>
          <%= render 'comments/comments', comment: comment, show_address_info: false, show_edit_link: true, show_unit_info: false %>
        <% end %>
      </div>
      <div class="tab-pane fade " id="violation">
    <div style="text-align: center">
      <%= link_to "Create a Violation Notice/Doorhanger", new_address_violation_path(@address), class: "btn btn-danger btn-lg mt-5" %>
    </div>
    <br>
    <% if @address.violations.any? %>
    <div class="table-responsive" style="text-align: center">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Address</th>
            <th scope="col">Created By</th>
            <th scope="col">Created At</th>
            <th scope="col">Violation Type</th>
            <th scope="col">Code</th>
            <th scope="col">Deadline Date</th>
            <th scope="col">Citations</th>
          </tr>
        </thead>
        <tbody>
          <% @address.violations.order("created_at DESC").each do |violation| %>
            <%= render partial: "shared/violation_table", locals: {violation: violation} %>
          <% end %>
        </tbody>
      </table>
    </div>
    <% else %>
    <p style="text-align: center">No violations have been created for this address.</p>
    <% end %>
      </div>
      <div class="tab-pane fade " id="citation">
    <% if @address_citations.any? %>
    <div class="table-responsive" style="text-align: center">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Citation ID</th>
            <th scope="col">Address</th>
            <th scope="col">Created By</th>
            <th scope="col">Created At</th>
            <th scope="col">Fine</th>
            <th scope="col">Status</th>
            <th scope="col">Code</th>
            <th scope="col">Deadline Date</th>
          </tr>
        </thead>
        <tbody>
          <% @address_citations.each do |citation| %>
            <%= render partial: "shared/citation_table", locals: {citation: citation} %>
          <% end %>
        </tbody>
      </table>
    </div>
    <% end %>
    </div>
      <div class="tab-pane fade" id="inspection">
        This is the inspection tab.
    </div>


  </div>
</div>
<div class="row">
  <div class="col">

  </div>
  <div class="col mt-5">
    

  </div>
</div>
