<p>pid: <%= @address.pid %></p>
<p>ownername: <%= @address.ownername %></p>
<p>owneraddress: <%= @address.owneraddress %></p>
<p>ownercity: <%= @address.ownercity %></p>
<p>ownerstate: <%= @address.ownerstate %></p>
<p>ownerzip: <%= @address.ownerzip %></p>
<p>streetnumb: <%= @address.streetnumb %></p>
<p>Address: <%= @address.combadd %></p>
<p>streetname: <%= @address.streetname %></p>
<p>streettype: <%= @address.streettype %></p>
<p>landusecode: <%= @address.landusecode %></p>
<p>zoning: <%= @address.zoning %></p>
<p>owneroccupiedin: <%= @address.owneroccupiedin %></p>
<p>vacant: <%= @address.vacant %></p>
<p>absent: <%= @address.absent %></p>
<p>premisezip: <%= @address.premisezip %></p>

  <%= render 'comments/form' %>
