<% content_for :title, @address.property_name_with_combadd %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">
      <%= link_to "Home", root_path %>
    </a></li>
    <li class="breadcrumb-item active"><a href="#">
    <%= link_to @address.property_name_with_combadd, address_path(@address) %>
    </a></li>
  </ol>
</nav>

<div class="row">
  <!-- if on mobile, show div -->
  <div class="d-block d-md-none">
    <div class="card">
      <div class="card-body">
        <div class="btn-group-vertical me-2" role="group" aria-label="Vertical button group">
          <%= link_to 'Leave a comment', '#commentDiv', class: 'btn btn-primary scroll-to' %>
          <%= link_to 'Create a Violation Notice/Doorhanger', new_address_violation_path(@address), class: 'btn btn-danger', data: { turbo: false } %>
          <%= link_to 'Create New Inspection Request', new_address_inspection_path(@address), class: 'btn btn-info', data: { turbo: false } %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <%= render 'shared/address_info' %>
  <%= render 'addresses/timeline' %>
</div>

    <!-- Modal -->
    <div class="modal fade custom-modal-lg" id="allphotoModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            All Attachments
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <% @address_photos.each do |photo| %>
              <%= render partial: "shared/show_image", locals: { photo: photo } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>