<% content_for :title, 'Vacant' %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">
      <%= link_to "Home", root_path %>
    </a></li>
    <li class="breadcrumb-item active"><a href="#">
      <%= link_to 'Vacant Addresses', vacant_addresses_path %>
    </a></li>
  </ol>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1 class="mt-4">Vacant Addresses</h1>

      <div class="table-responsive">
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th>Address</th>
              <th>Mark as Occupied</th>
              <th>Mark as Registered</th>
            </tr>
          </thead>
          <tbody>
            <% @items.each do |address| %>
              <tr>
                <% if address.is_a?(Address) %>
                  <% button_color = address.vacancy_status == 'vacant' ? 'btn btn-warning' : 'btn btn-primary' %>
                  <td><%= link_to address.property_name_with_combadd, address_path(address), class: button_color %></td>
                  <td><%= link_to 'Mark as Occupied', set_occupied_address_path(address), method: :get, class: 'btn btn-outline-secondary' %></td>
                  <% if address.vacancy_status == 'vacant' %>
                    <td><%= link_to 'Mark as Registered', set_registered_address_path(address), method: :get, class: 'btn btn-outline-secondary' %></td>
                  <% end %>
                <% else %>
                  <% button_color = address.vacancy_status == 'vacant' ? 'btn btn-warning' : 'btn btn-primary' %>
                  <td><%= link_to "#{address.address.property_name_with_combadd} Unit #{address.number}", address_unit_path(address.address, address), class: button_color %></td>
                  <td><%= link_to 'Mark as Occupied', set_occupied_address_unit_path(address.address, address), method: :get, class: 'btn btn-outline-secondary' %></td>
                  <% if address.vacancy_status == 'vacant' %>
                    <td><%= link_to 'Mark as Registered', set_registered_address_unit_path(address.address, address), method: :get, class: 'btn btn-outline-secondary' %></td>
                  <% end %>
                <% end %>
              </tr>
            <% end %>
              </tbody>
            </table>
            </div>
          </div>
          </div>
        </div>