
<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <h1 style="text-align:center">All Violations (<%= @violations.count %>)
      </h1>
      <br>
      <%= link_to "All Violations", all_violations_path, class:"btn btn-secondary" %>
      <%= link_to "Current", all_violations_path(status: "current"), class:"btn btn-warning" %>
      <%= link_to "Closed", all_violations_path(status: "resolved"), class:"btn btn-success" %>
    <br>
      <div class="table-responsive">
      <table class="table table-sm table-striped">
        <thead>
          <tr>
            <th scope="col">Address</th>
            <th scope="col">Created By</th>
            <th scope="col">Created At</th>
            <th scope="col">Violation Type</th>
            <th scope="col">Code</th>
            <th scope="col">Deadline Date</th>
            <th scope="col">Citations</th>
          </tr>
        </thead>
      </div>
      <tbody>
        <% @violations.each do |violation| %>
          <%= render partial: 'shared/violation_table', locals: { violation: violation } %>
        <% end %>
      </tbody>
      </table>
      <%= will_paginate @violations, class:"text-center" %>
    </div>
  </div>
</div>