<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="card" style="background-color: #e3f2fd;">
        <div class="card-body">
          <%= search_form_for @q, url: root_path, method: :get do |f| %>
          <%= f.search_field :combadd_cont, class:"form-control form-control-lg", placeholder: "Type in the address here" %>
          <br><div style="text-align:center"><%= f.submit "Search", class:"btn btn-primary" %></div>
          <% end %>
        </div>
      </div>
      <br>
      <% @addresses.order("updated_at DESC").first(50).each do |address| %>
      <%= link_to address_path(address) do %>
      <% if address.outstanding == true %>
        <div class="card"  style="background-color: #B98282;">
          <div class="card-body">
           <h3><%= address.combadd %></h3>
          </div>
        </div>
      <% else %>
        <div class="card"  style="background-color: #71DE68;">
          <div class="card-body">
           <h3><%= address.combadd %></h3>
          </div>
        </div>
      <% end %>

        <br>
        <% end %>
      <% end %>
    </div>
    <div class="col-6"></div>
  </div>
</div>