
<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <h1 style="text-align:center">All Violations</h1>
      <br>
      <%= link_to "All Violations", all_violations_path, class:"btn btn-secondary" %>
      <%= link_to "Current", all_violations_path(status: "current"), class:"btn btn-warning" %>
      <%= link_to "Resolved", all_violations_path(status: "resolved"), class:"btn btn-success" %>
    <br>
      <div class="table-responsive">
      <table class="table table-sm table-striped">
        <thead>
          <tr>
            <th>Address</th>
            <th>Type</th>
            <th>Created</th>
            <th>ONS</th>
            <th>Code(s)</th>
            <th>Deadline</th>
          </tr>
        </thead>
      </div>
      <tbody>
        <% @violations.each do |violation| %>
                  <% if violation.status == "current" %>

          <% if violation.deadline_passed? %>
          <tr class="table-danger">
          <td><%= link_to violation.address.combadd, address_path(violation.address), class: "btn btn-danger" %></td>
          <td><%= link_to violation.violation_type, violation_path(violation), class: "btn btn-danger" %></td>
          <td><%= violation.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y") %></td>
          <td><%= violation.user.name %></td>
          <td>
              <% violation.codes.each do |code| %>
                  
                <%= render partial: 'shared/code_def_show', locals: { code: code } %>

                <% end %>
            </td>
            <td><%= violation.deadline_date.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y") %></td>
          </tr>
          <% else %>
          <tr class="table-warning">
          <td><%= link_to violation.address.combadd, address_path(violation.address), class: "btn btn-warning" %></td>
          <td><%= link_to violation.violation_type, violation_path(violation), class: "btn btn-warning" %></td>
            <td><%= violation.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y") %></td>
            <td><%= violation.user.name %></td>
            <td>
            <% violation.codes.each do |code| %>
                  
              <%= render partial: 'shared/code_def_show', locals: { code: code } %>

                <% end %>
            </td>
            <td><%= violation.deadline_date.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y") %></td>
          </tr>
          <% end %>
          <%else%>
          <tr class="table">
          <td><%= link_to violation.address.combadd, address_path(violation.address), class: "btn btn-secondary" %></td>
          <td><%= link_to violation.violation_type, violation_path(violation), class: "btn btn-secondary" %></td>

            <td><%= violation.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y") %></td>
            <td><%= violation.user.name %></td>
            <td>
            <% violation.codes.each do |code| %>
                  
              <%= render partial: 'shared/code_def_show', locals: { code: code } %>

                <% end %>
            </td>
            <td><%= violation.deadline_date.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y") %></td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
      </table>
    </div>
  </div>
</div>