<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">
      <%= link_to "Home", root_path %>
    </a></li>
    <li class="breadcrumb-item"><a href="#">
    <%= link_to @address.property_name_with_combadd, address_path(@address) %>
    </a></li>
    <li class="breadcrumb-item active" aria-current="page">
      <%= link_to "Unit " + @unit.number, address_unit_path(@address, @unit) %>
    </li>
  </ol>
</nav>

<div class="row">
  <%= render 'shared/unit_info' %>
  <%= render 'units/timeline' %>
</div>
