<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">
      <%= link_to "Home", root_path %>
    </a></li>
    <li class="breadcrumb-item"><a href="#">
    <%= link_to @address.property_name_with_combadd, address_path(@address) %>
    </a></li>

    <% if @inspection.unit_id.present? %>
      <li class="breadcrumb-item"><a href="#">
      <%= link_to @inspection.unit.number, address_unit_path(@address, @inspection.unit) %>
      </a></li>
    <% end %>

    <li class="breadcrumb-item active"><a href="#">
    <%= link_to "Inspection ##{@inspection.id}", address_inspection_path(@address, @inspection) %>
    </a></li>
  </ol>
</nav>


<div class="row">
  <div class="col-lg-8">
    <div class="card">
      <div class="card-body">
        <% if @inspection.status.present? || @inspection.areas.present? %>
          <h1>Edit Inspection</h1>
        <% else %>
          <h1>Conduct Inspection for <%= @inspection.source %>
          <% if @inspection.source == "Business license" && @inspection.business_id != nil %>
          <br>
            - <%= @inspection.business.business_name_and_trading_name %>
          <% end %>
          </h1>
        <% end %>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <%= form_with(model: [@address, @inspection]) do |form| %>
          <!-- modal for @inspection.attachments -->
          <% if @inspection.attachments.attached? %>
            <div class="field mb-3">
              <button type="button" class="btn btn-primary mt-2 mb-2" data-bs-toggle="modal" data-bs-target="#allAttachModal">
                <i class="bi bi-paperclip"></i>
                Application/photos
              </button>
            </div>
          <% end %>
          <% if current_user.ons? %>
            <div class="form-group">
              <%= form.label :inspector_id %>
              <br>
              <strong><%= current_user.name %></strong>
              <%= form.hidden_field :inspector_id, value: current_user.id %>
            </div>
          <% elsif current_user.admin? %>
            <div class="form-group">
              <%= form.label :inspector_id %>
              <%= form.select :inspector_id, options_for_select([["Unassigned", nil]] + User.ons.map { |user| [user.email, user.id] }, @inspection.inspector_id), {}, class: "form-select" %>
            </div>
          <% end %>
          <div class="field mt-3">
            <label>Start Time</label>
            <%= form.datetime_field :start_time, value: @inspection.start_time, class: "form-control" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="field">
        <!-- submit as  well as add new area -->
          <!-- button for modal -->
          <%= link_to new_address_inspection_area_path(@address, @inspection), class: "btn btn-outline-primary", data: {turbo: false} do %>
            <i class="bi bi-plus-circle"></i>
            New Inspection Area
          <% end %>
          <!-- show button if multifamily inspection -->
          <% if @inspection.source == "Multifamily License" %>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#selectUnit">
            <i class="bi bi-plus-circle"></i>
            New Unit Inspection
          </button>
          <% end %>

          <!-- Select Unit Modal -->
          <div class="modal fade" id="selectUnit" tabindex="-1" aria-labelledby="selectUnitLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="selectUnitLabel">Select Unit</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <h3>Units in Codesoft without Inspection Notes</h3>
                    <div class="list-group">
                      <% @uninspected_units.each do |unit| %>
                        <%= link_to new_address_inspection_area_path(@address, @inspection, unit_id: unit.id), class: "list-group-item list-group-item-action" do %>
                          <%= unit.number %>
                        <% end %>
                      <% end %>
                      <h3>Inspected Units</h3>
                      <% if @inspected_units.present? %>
                      <div class="list-group">
                        <% @inspected_units.each do |unit| %>
                          <%= link_to new_address_inspection_area_path(@address, @inspection, unit_id: unit.id), class: "list-group-item list-group-item-action" do %>
                            <%= unit.number %>
                          <% end %>
                        <% end %>
                      </div>
                      <% else %>
                        <p>No inspected units</p>
                      <% end %>
                      <h3>New Unit</h3>
                      <%= form_with(model: @unit, url: create_unit_path, method: :post) do |form| %>
                        <div class="field">
                          <%= form.label :number %>
                          <%= form.text_field :number %>
                        </div>
                      
                        <%= form.hidden_field :inspection_id, value: @inspection.id %>
                        <%= form.hidden_field :address_id, value: @inspection.address.id %>
                      
                        <div class="actions">
                          <%= form.submit 'Create Unit' %>
                        </div>
                      <% end %>
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                </div>
              </div>
            </div>
          </div>



        </div>
      </div>
    </div>
    <% if @inspection.areas.present? %>
    <div class="card">
      <div class="card-body">
        <div class="">
          <h3>Areas</h3>
          <% @inspection.areas.order(:floor).each do |area| %>
            <div class="accordion accordion-flush" id="accordionFlush<%= area.id %>">
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading<%= area.id %>">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse<%= area.id %>" aria-expanded="false" aria-controls="flush-collapse<%= area.id %>" style="background-color: <%= area.observations.count > 0 ? '#f8d7da' : '#cce5ff' %>; color: #000;">
                    <%= area.name %> - <%= pluralize(area.observations.count, 'observation') %>
                  </button>
                </h2>
                <div id="flush-collapse<%= area.id %>" class="accordion-collapse collapse" aria-labelledby="flush-heading<%= area.id %>" data-bs-parent="#accordionFlush<%= area.id %>">
                  <div class="accordion-body">
                      <% if area.observations.present? %>
                        <div class="list-group mt-3">
                          <% area.observations.each do |observation| %>
                            <li class="list-group-item">
                              <%= observation.content %>
                              <span class="float-end">
                                <%= link_to edit_address_inspection_area_observation_path(@address, @inspection, area, observation) do %>
                                  <i class="bi bi-pencil-square"></i>
                                <% end %>
                              </span>
                              <br>
                              <%= link_to "#", data: { bs_toggle: "modal", bs_target: "#allphotoModal#{observation.id}" } do %>
                                <span class="badge bg-secondary">
                                  Photos: <%= observation.photos.count %>
                                </span>
                              <% end %>
                              <%# Time Zone EST %>
                              <% Time.zone = "Eastern Time (US & Canada)" %>
                              <div class="text-muted">
                                <%= observation.created_at.in_time_zone.strftime("%m/%d/%Y %I:%M:%S %p") %>
                              </div>


<!-- Photo Modal -->
<div class="modal fade custom-modal-lg" id="allphotoModal<%= observation.id %>">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        All photos
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Display the photos -->
          <% observation.photos.each do |photo| %>
            <%= render partial: "shared/show_image", locals: { photo: photo } %>
        <% end %>
      </div>
    </div>
  </div>
</div>


                            </li>
                          <% end %>
                        </div>
                      <% end %>
                      <br>
                      <div class="btn-group">
                      <%= link_to "Add Observation", address_inspection_area_path(@address, @inspection, area), class: "btn btn-outline-primary btn-sm", data: { turbo: false } %>
                      <%= link_to "Edit #{area.name}", edit_address_inspection_area_path(@address, @inspection, area), class: "btn btn-outline-primary btn-sm", data: { turbo: false } %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
    <div class="card">
      <div class="card-header">
        <h3>General Notes</h3>
        <p>
          
        </p>
      </div>
      <div class="card-body">
        <%= form_with(model: [@address, @inspection]) do |form| %>
        <div class="field">
          <label>Notes</label>
          <%= form.text_area :notes_area_1, value: @inspection.notes_area_1, class: "form-control" %>
        </div>
        <div class="field mt-3">
          <label>Photos</label>
          <%= form.file_field :extphotos, multiple: true, class: "form-control" %>
          <% if @inspection.extphotos.attached? %>
            <div>
              <strong>Uploaded Files:</strong>
              <% @inspection.extphotos.each do |attachment| %>
                <%= attachment.filename %><br>
              <% end %>
            </div>


          <% end %>
        </div>
        <div class="field mt-3">
        <label>Code Violations</label>
          <select id="code-select" multiple name="inspection[code_ids][]" class="choices-select" placeholder="Select codes...">
            <% Code.all.each do |code| %>
              <% selected = @inspection.code_ids.include?(code.id) ? 'selected' : '' %>
              <option value="<%= code.id %>" <%= selected %>>
                <%= code.chapter %>-<%= code.section.split("-").last %> <%= code.name %>
              </option>
            <% end %>
          </select>
        </div>
        <% end %>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <%= form_with(model: [@address, @inspection]) do |form| %>

          <% if @inspection.source == "Complaint" %>
            <div class="field mt-3">
              <label><strong>Complaint Outcome</strong></label>
              <%= form.select :status, options_for_select([["No violations", "Satisfactory"], ["Violations", "Unsatisfactory"], ["Missed", "Missed"]], @inspection.status), {}, class: "form-select" %>
            </div>
            <br>
          <% else %>
            <div class="field mt-3">
              <label><strong>Outcome</strong></label>
              <%= form.select :status, options_for_select(["Under Review", "Missed", "Satisfactory", "Unsatisfactory"], @inspection.status), {}, class: "form-select" %>
            </div>
            <br>
          <% end %>


          <!--          <div class="form-group">
              <strong><label>If there are any code violations, please list them here:</label></strong>
              <em><p>If you don't see the code you're looking for, add the code using this button:   <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#myDiv">
            New Code
          </button></p></em> 

          <select id="code-select" multiple name="inspection[code_ids][]" class="choices-select" placeholder="Select codes...">
            <% Code.all.each do |code| %>
              <% selected = @inspection.code_ids.include?(code.id) ? 'selected' : '' %>
              <option value="<%= code.id %>" <%= selected %>>
                <%= code.chapter %>-<%= code.section.split("-").last %> <%= code.name %>
              </option>
            <% end %>
          </select>
        <div id="myDiv" class="collapse">
          Content to be displayed/hidden goes here 
          <h4>New Code</h4>
          <br>
          <div>
            <label>Chapter</label>
            <%= form.text_field :new_chapter, class:"form-control" %>
          </div>
          <br>
          <div>
            <label>Section</label>
            <%= form.text_field :new_section, class:"form-control" %>
          </div>
          <br>
          <div>
            <label>Name</label>
            <%= form.text_field :new_name, class:"form-control" %>
          </div>
          <br>
          <div>
            <label>Description</label>
            <%= form.text_area :new_description, class:"form-control" %>
          </div>
        </div>-->

          
          <div class="actions mb-3">
            <%= form.submit "Save", class: "btn btn-primary" %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
    </div>  
  </div>
</div>


    <!-- Attachment Modal -->
    <div class="modal fade custom-modal-lg" id="allAttachModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            All Attachments
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
          <% if @attachments.present? %>
            <% @attachments.each do |photo| %>
              <%= render partial: "shared/show_image", locals: { photo: photo } %>
            <% end %>
          <% end %>
          </div>
        </div>
      </div>
    </div>
</div>

<script>
  // Function to initialize Choices.js
  function initializeChoices() {
    const codeSelect = new Choices('#code-select', {
      removeItemButton: true,
      searchEnabled: true,
      placeholder: true,
      placeholderValue: 'Select codes',
    });
  }

  // Initialize Choices.js on page load
  document.addEventListener("turbo:load", initializeChoices);
</script>