<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">
      <%= link_to "Home", root_path %>
    </a></li>
    <li class="breadcrumb-item"><a href="#">
    <%= link_to @address.combadd.titleize, address_path(@address) %>
    </a></li>

    <% if @inspection.unit_id.present? %>
      <li class="breadcrumb-item"><a href="#">
      <%= link_to @inspection.unit.number, address_unit_path(@address, @inspection.unit) %>
      </a></li>
    <% end %>

    <li class="breadcrumb-item active"><a href="#">
    <%= link_to "Inspection ##{@inspection.id}", address_inspection_path(@address, @inspection) %>
    </a></li>
  </ol>
</nav>

<h1>Conduct Inspection</h1>
<%= form_with(model: [@address, @inspection]) do |form| %>
  <div class="field mt-3">
    <label>Notes</label>
    <%= form.text_area :notes_area_1, value: @inspection.notes_area_1, class: "form-control" %>
  </div>
  <div class="field mt-3">
    <label>Photos</label>
    <%= form.file_field :extphotos, multiple: true, class: "form-control" %>
    <% if @inspection.extphotos.attached? %>
      <div>
        <strong>Uploaded Files:</strong>
        <% @inspection.extphotos.each do |attachment| %>
          <%= attachment.filename %><br>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="field mt-3">
    <label>Outcome</label>
    <%= form.select :status, options_for_select(["Passed", "Failed", "Reinspection Required"], @inspection.status), {}, class: "form-select" %>
  </div>

      <div class="form-group">
      <strong><%= form.label :codes %></strong>
      <em><p>If you don't see the code you're looking for, add the code using this button: <%= link_to "New code", new_code_path, class:"btn btn-outline-primary" %></p></em>

<select id="code-select" multiple name="inspection[code_ids][]">
  <% Code.all.each do |code| %>
    <% selected = @inspection.code_ids.include?(code.id) ? 'selected' : '' %>
    <option value="<%= code.id %>" <%= selected %>>
      <%= code.chapter %>-<%= code.section.split("-").last %> <%= code.name %>
    </option>
  <% end %>
</select>


    </div>
  <div class="actions mt-3">
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>

<script>
  const codeSelect = new Choices('#code-select', {
    removeItemButton: true,
    searchEnabled: true,
    placeholder: true,
    placeholderValue: 'Select codes',
  });
</script>