<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">
      <%= link_to "Home", root_path %>
    </a></li>
    <li class="breadcrumb-item"><a href="#">
    <%= link_to @address.combadd.titleize, address_path(@address) %>
    </a></li>

    <% if @inspection.unit_id.present? %>
      <li class="breadcrumb-item"><a href="#">
      <%= link_to @inspection.unit.number, address_unit_path(@address, @inspection.unit) %>
      </a></li>
    <% end %>
  </ol>
</nav>


<h2>Create New Inspection Request</h2>
<h4><%= @address.combadd.titleize %></h4>

<%= form_with(model: [@address, @inspection]) do |form| %>
  <div class="field mt-3">
    <%= form.label :source %>
    <%= form.select :source, ["Complaint", "Building/Dumpster/POD permit", "Business license", "Single Family License", "Multifamily License", "Donation Bin"], {}, class: "form-select" %>
  </div>

  <div class="field mt-3">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="field mt-3">
  <label>
  Application or photos
  </label>
    <%= form.file_field :attachments, multiple: true, class: "form-control" %>
</div>

  <div class="field mt-3">
    <!-- if address has units, show unit select -->
    <% if @address.units.any? %>
    <%= form.select :unit_id, options_for_select(unit_options(@address.units), nil), {prompt: "Select Unit or Building"}, class: "form-select" %>
    <br>
    <br>
    <% end %>
  </div>

    <div class="field mt-3">
    <label>Applicant/Complaintant Name</label>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="field mt-3">
    <label>Applicant/Complaintant Email</label>
    <%= form.email_field :email, class: "form-control" %>
  </div>

  <div class="field mt-3">
    <label>Applicant/Complaintant Phone Number</label>
    <%= form.text_field :phone, class: "form-control" %>
  </div>
  <div class="form-group mt-3">
    <%= form.label :inspector_id %>
    <%= form.select :inspector_id, options_for_select([["Unassigned", nil]] + User.ons.map { |user| [user.email, user.id] }), {}, class: "form-select" %>
  </div>
  <div class="actions mt-3">
    <%= form.submit "Create Inspection", class: "btn btn-primary" %>
  </div>
<% end %>
