<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">
      <%= link_to "Home", root_path %>
    </a></li>
    <li class="breadcrumb-item"><a href="#">
    <%= link_to @address.combadd.titleize, address_path(@address) %>
    </a></li>

    <% if @inspection.unit_id.present? %>
      <li class="breadcrumb-item"><a href="#">
      <%= link_to @inspection.unit.number, address_unit_path(@address, @inspection.unit) %>
      </a></li>
    <% end %>
  </ol>
</nav>


<h2>Create New Inspection Request</h2>
<h4><%= @address.combadd.titleize %></h4>
<p>* fields are mandatory</p>

<%= form_with(model: [@address, @inspection]) do |form| %>
  <div class="field mt-3">
    <%= form.label :source %>*
    <%= form.select :source, ["Complaint", "Building/Dumpster/POD permit", "Business license", "Single Family License", "Multifamily License", "Donation Bin"], {}, class: "form-select" %>
  </div>

  <div class="field mt-3">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="field mt-3">
    <label>
    Application or photos
    </label>
      <%= form.file_field :attachments, multiple: true, class: "form-control" %>
  </div>


  <div class="field mt-3">
    <!-- if address has units, show unit select -->
    <% if @address.units.any? %>
    <p>Select if the inspection is for the unit or the entire building</p>
    <%= form.select :unit_id, options_for_select(unit_options(@address.units), nil), {prompt: "Select Unit or Building"}, class: "form-select" %>
    <% end %>
  </div>

  <% if @address.businesses.exists? || @address.units.joins(:businesses).exists? %>
  <div class="field mt-3">
    <label>Select if the inspection is for a business in the building</label>
    <%= form.select :business_id, options_for_select(business_options(@address.businesses), nil), {prompt: "Select Business"}, class: "form-select" %>
  </div>
  <% end %>
  
  <div class="field mt-3">
    <%= form.label :scheduled_datetime %>
    <%= form.datetime_field :scheduled_datetime, class: "form-control" %>
  </div>
  

  <div class="form-group mt-3">
    <%= form.label :contact_id %>
    <%= form.collection_select(:contact_id, Contact.all, :id, :full_name_and_email, { prompt: 'Select or create a contact' }, class: 'form-control selectpicker', data: { style: 'btn-primary' }) %>
  </div>

  <!-- Fields for creating a new contact -->

  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          Or create a new contact
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <div class="field mt-3">
            <%= form.label :new_contact_name %>
            <%= form.text_field :new_contact_name, class: "form-control" %>
          </div>

          <div class="field mt-3">
            <%= form.label :new_contact_email %>
            <%= form.text_field :new_contact_email, class: "form-control" %>
          </div>

          <div class="field mt-3">
            <%= form.label :new_contact_phone %>
            <%= form.text_field :new_contact_phone, class: "form-control" %>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="form-group mt-3">
    <% if current_user.role == "ons" %>
        <%= form.label :inspector_id %>
      <strong><%= current_user.name %></strong>
      <%= form.hidden_field :inspector_id, value: current_user.id %>
    <% elsif current_user.role == "admin" %>
        <%= form.label :inspector_id %>
      <%= form.select :inspector_id, options_for_select([["Unassigned", nil]] + User.ons.map { |user| [user.email, user.id] }), {}, class: "form-select" %>
      <% else %>
    <% end %>
  </div>
  <div class="actions mt-3">
    <%= form.submit "Create Inspection Request", class: "btn btn-primary" %>
  </div>
<% end %>


<script>
  // Function to initialize Choices.js
  function initializeChoices() {
    const contactSelect = new Choices('#inspection_contact_id', {
      removeItemButton: true,
      searchEnabled: true,
      placeholder: true,
      placeholderValue: 'Select a contact',
    });
  }

  // Initialize Choices.js on page load
  document.addEventListener("turbo:load", initializeChoices);
</script>
