
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">
      <%= link_to "Home", root_path %>
    </a></li>
    <li class="breadcrumb-item"><a href="#">
    <%= link_to @address.combadd.titleize, address_path(@address) %>
    </a></li>

    <% if @inspection.unit_id.present? %>
      <li class="breadcrumb-item"><a href="#">
      <%= link_to @inspection.unit.number, address_unit_path(@address, @inspection.unit) %>
      </a></li>
    <% end %>

    <li class="breadcrumb-item active"><a href="#">
    <%= link_to "Inspection ##{@inspection.id}", address_inspection_path(@address, @inspection) %>
    </a></li>
  </ol>
</nav>

<h1>Conduct Inspection</h1>
<%= form_with(model: [@address, @inspection]) do |form| %>
  <div class="row">
    <div class="col-md-4">
      <div class="field mt-3">
        <%= form.label :scheduled_datetime %>
        <%= form.datetime_field :scheduled_datetime, class: "form-control" %>
        <% if @inspection.errors[:scheduled_datetime].any? %>
          <p class="text-danger"><%= @inspection.errors[:scheduled_datetime].join(', ') %></p>
        <% end %>
      </div>

      <div class="actions mt-3">
        <%= form.submit "Submit", class: "btn btn-primary" %>
      </div>

    </div>
    <div class="col-md-8">
      <%# list of scheduled inspections %>
      <% if @scheduled_inspections.present? %>
        <h3>Scheduled Inspections</h3>
        <table class="table table-striped">
          <thead class="thead-light">
            <tr>
              <th scope="col">Address</th>
              <th scope="col">Scheduled Date</th>
              <th scope="col">Scheduled Time</th>
            </tr>
          </thead>
          <tbody>
            <% @scheduled_inspections.each do |inspection| %>
              <tr>
                <td><%= inspection.address.combadd %></td>
                <td><%= inspection.scheduled_datetime.strftime("%m/%d/%Y") %></td>
                <td><%= inspection.scheduled_datetime.strftime("%I:%M %p") %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>


<% end %>

