<%# inspection show page %>
<% content_for :title, @address.combadd.titleize + " Inspection # " + @inspection.id.to_s %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">
      <%= link_to "Home", root_path %>
    </a></li>
    <li class="breadcrumb-item"><a href="#">
    <%= link_to @address.combadd.titleize, address_path(@address) %>
    </a></li>

    <% if @inspection.unit_id.present? %>
      <li class="breadcrumb-item"><a href="#">
      <%= link_to @inspection.unit.number, address_unit_path(@address, @inspection.unit) %>
      </a></li>
    <% end %>

    <li class="breadcrumb-item active"><a href="#">
    <%= link_to "Inspection ##{@inspection.id}", address_inspection_path(@address, @inspection) %>
    </a></li>
  </ol>
</nav>

<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <%# address information %>
        <h2><%= @inspection.address.combadd %>
        <% if @unit.present? %>
          <small>Unit <%= @unit.number.upcase %></small>
        <% end %>
        </h2>
        <%# link to google maps from icon %>
        <a href="https://www.google.com/maps/search/?api=1&query=<%= @inspection.address.combadd %>+MD+<%= @inspection.address.premisezip %>" target="_blank" class="btn btn-secondary">
        <i class="bi bi-geo-alt-fill"></i></a>
        <br>
        <% if @inspection.photos.attached? %>
            <button type="button" class="btn btn-primary mt-2 mb-2" data-bs-toggle="modal" data-bs-target="#allphotoModal">
          <i class="bi bi-paperclip"></i>
          Inspection photos
        </button>
        <% end %>
        <br>
        <% if @inspection.contact.present? %>
        <%= generate_pre_inspection_email_link %>
        <% end %>
        <br>
                <%= link_to "Schedule inspection", schedule_address_inspection_path(@address, @inspection), class: "btn btn-primary mt-3" %>

        <br>
        <% if @inspection.scheduled_datetime.present? %>
          <br>
          <h3>Scheduled for:</h3>
          <%= @inspection.scheduled_datetime.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y at %I:%M %p") %>
        
        <% end %>
        <% if @attachments.any? %>
        <button type="button" class="btn btn-primary mt-2 mb-2" data-bs-toggle="modal" data-bs-target="#allAttachModal">
          <i class="bi bi-paperclip"></i>
          Application/photos
        </button>
        <% end %>
<br>
<br>
          <% if @inspection.description.present? %>
          <br>
          <p><strong>Inspection Description:</strong> <%= @inspection.description %></p>
          <% end %>

      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="card shadow mb-3">
      <div class="card-body">
              <p><strong>Inspection Request Was Created:</strong> <%= @inspection.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y") %></p>
        <% if @inspection.contact.present? %>
          <p><strong>Contact:</strong> <%= link_to @inspection.contact.name, contact_path(@inspection.contact) %></p>
          <p><strong>Contact Notes:</strong> <%= @inspection.contact.notes %></p>
          <p><strong>Contact Email:</strong> <%= link_to @inspection.contact.email, "mailto:#{@inspection.contact.email}" %></p>
          <p><strong>Contact Phone:</strong><a href="tel:<%= @inspection.contact.phone %>"><%= format_phone_number(@inspection.contact.phone) %></a></p>
        <% end %>
    <% if @inspection.status.present? %>
      <%= link_to "Edit inspection", conduct_address_inspection_path(@address, @inspection), class: "btn btn-outline-primary btn-lg mt-3" %>
    <% else %>
      <%= link_to "Conduct inspection", conduct_address_inspection_path(@address, @inspection), class: "btn btn-outline-primary btn-lg mt-3" %>
    <% end %>
    <br>
    <% if @inspection.status.present? %>
    <br>
    <h1><%= @inspection.source %> Inspection Results</h1>
    <br>
    <% if @inspection.inspector.present? %>
      <h3>Inspector</h3>
        <%= @inspection.inspector.email %>
      <br>
    <% end %>
    <br>
      <h3>Outcome</h3>
      <!-- if the inspection is Satisfactory, show the Satisfactory badge -->
        <% if @inspection.status == "Satisfactory" %>
          <h2><span class="badge bg-success"><%= @inspection.status %></span></h2>
        <% else %>
          <h2><span class="badge bg-danger"><%= @inspection.status %></span></h2>
        <% end %>

      <% if @inspection.notes_area_1.present? %>
      <br>
        <h3>Notes</h3>
        <%= @inspection.notes_area_1 %>
      <% end %>
      <br>
      <% if @inspection.extphotos.attached? %>
        <button type="button" class="btn btn-primary mt-2 mb-2" data-bs-toggle="modal" data-bs-target="#allextphotoModal">
          <i class="bi bi-paperclip"></i>
          All Photos and Attachments from inspection
        </button>
      <% end %>
      <br>

      <% if @inspection.areas.present? %>
        <h3>Areas</h3>
    <% @inspection.areas.each do |area| %>
      <div class="accordion accordion-flush" id="accordionFlush<%= area.id %>">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading<%= area.id %>">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse<%= area.id %>" aria-expanded="false" aria-controls="flush-collapse<%= area.id %>">
              <%= area.name %>
            </button>
          </h2>
          <div id="flush-collapse<%= area.id %>" class="accordion-collapse collapse" aria-labelledby="flush-heading<%= area.id %>" data-bs-parent="#accordionFlush<%= area.id %>">
            <div class="accordion-body">
              <h5><strong>Notes: </strong><%= area.notes %></h5>
              <br>
              <% if area.photos.attached? %>
                <div>
                  <strong>Uploaded Files:</strong>
                  <% area.photos.each do |attachment| %>
                    <%= attachment.filename %><br>
                  <% end %>
                </div>
              <% end %>
              <br>
              <% if area.codes.present? %>
                  
                <p><strong>Codes:</strong></p>
                  <ul>
                    <% area.codes.each do |code| %>
                      <li><%= code.name %></li>
                    <% end %>
                  </ul>
                <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
      <% end %>

      <% if @code_violations.present? %>
        <h3>Code Violations</h3>
        <% @code_violations.each do |code| %>
          <%= render partial: 'shared/code_def_show', locals: { code: code } %>
        <% end %>
      <% end %>
    <% end %>

          
        <br>
        <% if @inspection.status.present? %>
        <br>
          <% if @inspection.contact.present? %>
            <%= generate_inspection_email_link %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div> 
<div class="row">
<div class="col">
<% if @inspection.status == "Satisfactory" && @inspection.source == "Business License" %>
  <button>Print Business License</button>
<% end %>
</div>
</div>

    <!-- Attachment Modal -->
    <div class="modal fade custom-modal-lg" id="allAttachModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            All Attachments
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <% @attachments.each do |photo| %>
              <%= render partial: "shared/show_image", locals: { photo: photo } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

        <!-- Photo Modal -->
    <div class="modal fade custom-modal-lg" id="allphotoModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            All photos
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <% @attachments.each do |photo| %>
              <%= render partial: "shared/show_image", locals: { photo: photo } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

        <!-- Modal -->
    <div class="modal fade custom-modal-lg" id="allextphotoModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            All Attachments
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <% @inspection.extphotos.each do |photo| %>
              <%= render partial: "shared/show_image", locals: { photo: photo } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>