  <nav class="navbar navbar-expand-sm navbar-dark bg-primary sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">CodeSoft</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Search</a>
          </li>
          <% if current_user.admin? || current_user.ons? %>
          <li><%= link_to "Codes", codes_path, class:"nav-link" %></li>
          <% end %>
              <% if current_user.admin? || current_user.ons? || current_user.oas? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Violations
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><%= link_to "All Violations", all_violations_path, class:"dropdown-item" %></li>
              <%# if the current user is ons show the link %>
              <% if current_user.ons? %>
              <li><%= link_to "My Violations", my_violations_path, class:"dropdown-item" %></li>
              <% end %>
            </ul>
          </li>
          <% end %>
          <% if current_user.admin? || current_user.ons? || current_user.oas? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Citations
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><%= link_to "All Citations", all_citations_path, class:"dropdown-item" %></li>
              <%# if the current user is ons show the link %>
              <% if current_user.ons? %>
              <li><%= link_to "My Citations", my_citations_path, class:"dropdown-item" %></li>
              <% end %>
            </ul>
          </li>
          <% end %>
          <%# if the current user is and admin, ons, or oas, show the link %>
          <% if current_user.admin? || current_user.ons? || current_user.oas? %>
          <li><%= link_to "SIR", sir_path, class:"nav-link" %></li>
          <% end %>
          <li><%= link_to "Helpful links", helpful_path, class:"nav-link" %></li>
          <%# if the current user is an admin, show the admin link %>
          <% if current_user.admin? %>
          <li><%= link_to "Users", admin_user_path, class:"nav-link" %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>