		<nav id="sidebar" class="sidebar js-sidebar">
			<div class="sidebar-content js-simplebar">
        <%= link_to image_tag('logo.png', alt: 'Logo', class: 'navbar-brand navbar-logo'), root_path %>


				<ul class="sidebar-nav">
          <% if user_signed_in? %>
            <% if @enrolled_courses.present? %>
            <li class="sidebar-header">
              Courses
            </li>

            <% @enrolled_courses.each do |course| %>
            <li class="sidebar-item">
              <%= link_to course_path(course), class: "sidebar-link" do %>
              <span><%= course.name %></span>
              <% end %>
            </li>
            <% end %>
            <%= link_to "All Courses", courses_path, class: "sidebar-link" %>

            <% else %>
            <!-- Enroll in courses -->
            <%= link_to "All Courses", courses_path, class: "sidebar-link" %>

            <% end %>

					<li class="sidebar-header">
						Posts and Comments
					</li>

          <li class="sidebar-item">
            <%= link_to "All Posts", recent_posts_path, class: "sidebar-link" %>
          </li>

          <li class="sidebar-item">
            <%= link_to "My Posts", my_posts_path, class: "sidebar-link" %>
          </li>

          <li class="sidebar-item">
            <%= link_to "My Comments", my_comments_path, class: "sidebar-link" %>
          </li>

          <li class="sidebar-item">
            <%= link_to "My Upvoted Posts", upvoted_path, class: "sidebar-link" %>
          </li>

          <li class="sidebar-item">
            <%= link_to "My Upvoted Comments", upvoted_comments_path, class: "sidebar-link" %>
          </li>

          <% end %>
				</ul>

			</div>
		</nav>