<!DOCTYPE html>
<html>
  <head>
    <title>CodeSoft <%= yield(:title) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="shortcut icon" type="image/x-icon" href="<%= asset_path('favicon.ico') %>">

  </head>

  <body>
  <%# if user is signed in show the header %> <% if user_signed_in? %>
  <%= render 'layouts/header' %>
  <% end %>
  <%# if user is not signed in show the unauth header %> <% unless user_signed_in? %>
  <%= render 'layouts/unauth_header' %>
  <% end %>
  <% if notice %> <p class="alert alert-success"><%= notice %></p> <% end %> <% if alert %> <p class="alert alert-danger"><%= alert %></p> <% end %>
    <div class="container-fluid mt-3">
      <%= yield %>
    </div>
  </body>
</html>
